{% extends "layout/base.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y" style="max-width: none;">
  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% if data %}
  <!-- Bordered Table -->
  <div class="card">
    <h5 class="card-header">{{ table }} List <span><a style="float: right;" href="{{ url_for('add') }}" class="btn btn-success">Add New {{ table }}</a></span></h5>
    <div class="card-body">
      <div class"text-nowrap">{{ data  | safe }}</div>
    </div>
  </div>
  <!--/ Bordered Table -->
  {% else %}
  <!-- Bordered Table -->
  <div class="card">
    <h5 class="card-header">{{ table }} List <span><a style="float: right;" href="{{ url_for('add') }}" class="btn btn-success">Add New {{ table }}</a></span></h5>
  </div>
  <!--/ Bordered Table -->

  {% endif %}

</div>
<!-- / Content -->
<hr class="my-5" />
{% endblock content %}