* {
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropzone {
  border: 2px dashed #007bff;
  border-radius: 5px;
  min-height: 100px;
  width: auto;
}

.container {
  margin-top: 50px;
}

.card {
  margin-bottom: 8px;
}
/* set color of first list-item in card to EBF3E8 */
.card .list-group-item:first-child {
  background-color: #e8e7e3;
}
.item.new {
  background: #43e55e !important;
}
.item.changed {
  background: #e5c843 !important;
}
.item.deleted {
  background: #e54343 !important;
}
.item.ds-selected {
  background: #4391e5 !important;
}
.table {
  margin-top: 10px
}
a.nav-link {
  color: black;
}