{% extends "table.html" %}
{% block table %}
<thead>
  <tr>
    <th>Name</th>
    <th>GID</th>
    <th>Users</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td colspan="4" class="new">
      <button type="button" class="btn btn-primary btn-block">Add</button>
    </td>
  </tr>
  {% for item in items %}
  <tr>
      <td>{{item.name}}</td>
      <td>{{item.groupid}}</td>
      <td>{{item.users}}</td>
      <td>
        <button type="button" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}
