{% set app_name = "User Management" %}
{% extends "base/base.html" %}

{% block content %}
<div class="container" role="main">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-nav">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active">
                <a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a>
              </li>
              <li role="presentation">
                <a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">Groups</a>
              </li>

            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="users">
                <h3> Users </h3>
                <div id="users-table"></div>
              </div>
              <div role="tabpanel" class="tab-pane fade " id="groups">
                <h3> Groups </h3>
                <div id="groups-table"></div>
              </div>
            </div>
        </div>
    </div>
    <div id="modal-wrapper"></div>
</div>

<script>
  function load_table(endpoint_url, container_id){
    $.get(endpoint_url, function(data, status, jqxhr) {
      $( `#${container_id}`).html(data);
    });
  }
  load_table("{{ url_for('table', target='users') }}", "users-table");
  load_table("{{ url_for('table', target='groups') }}", "groups-table");
  setInterval(load_table, {{ settings.luna.refresh_interval }}, "{{ url_for('table', target='users') }}", "users-table");
  setInterval(load_table, {{ settings.luna.refresh_interval }}, "{{ url_for('table', target='groups') }}", "groups-table");
</script>



{% endblock %}