{% set item = item or {} %}
<form id="modal-form">
  {% for field in fields %}
  <div class="form-group">
    <label for="{{field}}">{{field}}</label>
    {% if field == 'users' %}
    {% if mode in ['create','update'] %}

    <select name="users" id="users-select" class="form-entry" multiple="multiple">
      {% for user in all_users %}
      <option value="{{user.name}}" {{'selected' if user.name in item['users']}}>{{user.name}}</option>
      {% endfor %}
    </select>
    {% else %}
    <ul>
      {% for user in item['users'] %}
      <li>{{user.name}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% elif field == 'groups' %}
    {% if mode in ['create','update'] %}
    <select name="groups" id="groups-select" class="form-entry" multiple="multiple">
      {% for group in all_groups %}
      <option value="{{group.name}}" {{'selected' if group.name in item['groups']}}>{{group.name}}</option>
      {% endfor %}
    </select>
    {% else %}
    <ul>
      {% for group in item['groups'] %}
      <li>{{group.name}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% else %}

    <input type="text" class="form-control form-entry" id="{{field}}"
      value="{% if field in  ['username', 'groupname'] %}{{name or ''}}{% elif field in ['password'] %}{{''}}{% else %}{{item[field] or ''}}{% endif %}"
      aria-describedby="{{field}}Help" placeholder="{{ 'Enter ' + field if mode in ['create', 'update'] else ''}}"
      {{ 'disabled' if (mode=='show' ) or (mode=='update' and field in ['username', 'groupname' ]) }} {{ 'disabled' if
      (mode=='update' ) and field in ['last_change', 'uid' , 'gid' ] }}>
    {# <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> #}
  </div>
  {% endif %}
  {% endfor%}

</form>
<script>
  $(document).ready(function () {
    $('#users-select').multiselect();
    $('#groups-select').multiselect();
  });
</script>
<!-- </div> -->