{% set item = item or {} %}
<!-- Modal -->
<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal header  -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        {% if mode == 'create'%}
          Creating {{target[:-1]}}
        {% elif mode == 'update' %}
          Updating {{target[:-1]}} {{name}}
        {% elif mode =='show' %}
          Showing {{target[:-1]}} {{name}}
        {% endif %}
        </h4>
      </div>
      <div id="modal-error"></div>
      <div class="modal-body">
      <!-- begin modal body content  -->
      <form id="modal-form">
        {% for field in fields %}
        <div class="form-group">
          <label for="{{field}}">{{field}}</label>
          {% if field == 'users' %}
            {% if mode in ['create','update'] %}
              
              <select name="users" id="users-select" class="form-entry" multiple="multiple">
                {% for user in all_users %}
                  <option value="{{user}}" {{'selected' if user in item['users']}}>{{user}}</option>
                {% endfor %}
              </select>
            {% else %}
              <ul>
              {% for user in item['users'] %}
                <li>{{user}}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% elif field == 'groups' %}
              {% if mode in ['create','update'] %}
                <select name="groups" id="groups-select" class="form-entry" multiple="multiple">
                  {% for group in all_groups %}
                    <option value="{{group}}" {{'selected' if group in item['groups']}}>{{group}}</option>
                  {% endfor %}
                </select>
              {% else %}
                <ul>
                {% for group in item['groups'] %}
                  <li>{{group}}</li>
                {% endfor %}
                </ul>
              {% endif %}
          {% else %}
            
            <input
              type="text"
              class="form-control form-entry"
              id="{{field}}"
              value="{% if field in  ['username', 'groupname'] %}{{name or ''}}{% elif field in ['password'] %}{{''}}{% else %}{{item[field] or ''}}{% endif %}"
              aria-describedby="{{field}}Help"
              placeholder="{{ 'Enter ' + field if mode in ['create', 'update'] else ''}}"
              {{ 'disabled' if (mode == 'show') or (mode == 'update' and field in ['username', 'groupname']) }}
              {{ 'disabled' if (mode == 'update') and field in ['last_change', 'uid', 'gid'] }}
              >
            {# <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> #}
          </div>
          {% endif %}
        {% endfor%}

        </form>
      <!-- end modal body content  -->
      </div>
      <div class="modal-footer">
        <!-- modal footer  -->
        {% if mode == 'update' %}
          <button type="button" class="btn btn-primary" onclick="handle_submit_button( '{{target}}', '{{name}}', '{{mode}}', ); return false">Submit</button>
        {% elif mode == 'create' %}
          <button type="button" class="btn btn-primary" onclick="handle_submit_button( '{{target}}', null, '{{mode}}', ); return false">Create</button>
        {% endif %}
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script>
$(document).ready(function() {
  $('#users-select').multiselect();
  $('#groups-select').multiselect();
});
</script>
<!-- </div> -->



