{% extends "table.html" %}
{% block table %}
  <thead>
    <tr>
      <th>Name</th>
      <th>UID</th>
      <th>GID</th>
      <th>Description</th>
      <th>Home Directory</th>
      <th>Shell</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="7" class="new">
        <button type="button" class="btn btn-primary btn-block">Add</button>
      </td>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.userid}}</td>
        <td>{{item.primarygroup}}</td>
        <td>{{item.fullname}}</td>
        <td>{{item.homedir}}</td>
        <td>{{item.shell}}</td>
        <td>
          <button type="button" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
