<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<title>{{ table }} :: Luna</title>
<meta name="description" content="" />
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/boxicons.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}" class="template-customizer-core-css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme-default.css') }}" class="template-customizer-theme-css" />

<style>
  .datatable_length {
    display: inline-block;
  }
  
  .datatable_search {
    margin-left: 55%;
  }
  
  .datatable_filter {
    margin-left: 55%;
  }
  
  .datatable_paginate {
    float: right;
  }
        
  .datatable_paginate::before {
    content: "\a";
    white-space: pre;
  }

  #datatable_info::before {
    content: "\a";
    white-space: pre;
  }
</style>
