<nav class="tx-navbar">
  <ol class="tx-breadcrumb">
    <li class="tx-breadcrumb-logo">
      <a href="https://{{ request.host.split(':')[0] }}:8080">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="tx-navbar-logo" />
      </a>
    </li>
    <li class="tx-breadcrumb-item">
      <a href="https://{{ request.host.split(':')[0] }}:8080" class="tx-breadcrumb-link">Home</a>
    </li>
    <li class="tx-breadcrumb-item">
      <a href="#" class="tx-breadcrumb-link" onclick="return false;">{{ CONFIGS['APP']['APP_NAME'] }}</a>
    </li>
  </ol>
</nav>
