<div id="menu">
    <div class="row mb-2">
        <div class="col-12">

            <div class="card menu-card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                       <h5> Menu</h5>
            
                       <button class="btn btn-warning" id="configuration-restore-button">
                            <i class="fa-solid fa-refresh"></i>
                            Restore Configuration Backup
                        </button>
                        
                        <button class="btn btn-outline-primary" id="configuration-preview-button">
                            <i class="fa-solid fa-eye"></i>
                            Preview Configuration
                        </button>
        
                        <button class="btn btn-primary" id="configuration-save-button">
                            <i class="fa-solid fa-floppy-disk"></i>
                            Save Configuration
                        </button>
        
                        <button class="btn btn-outline-primary" id="configuration-download-button">
                            <i class="fa-solid fa-file-download"></i>
                            Download Configuration
                        </button>
              
                    </li>
                 </ul>
            </div>
                

        </div>
    </div>
    
</div>
