<div class="card menu-card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="font-weight-bold">
                Configuration Menu
            </span>
        </li>
        <li class="list-group-item">

            <button class="btn btn-outline-primary" id="configuration-preview-button"
                onclick="handlePreviewConfigurationButton(event)">
                <i class="fa-solid fa-eye"></i>
                View Configuration
            </button>

            <button class="btn btn-outline-primary" id="configuration-test-button"
                onclick=handleTestConfigurationButton(event)>
                <div class="text">
                    <i class="fa-solid fa-check"></i>
                    Test Configuration
                </div>
                <div class="spinner d-none">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                    Testing Configuration
                </div>
            </button>

            <button class="btn btn-primary" id="configuration-save-button" onclick=handleSaveConfigurationButton(event)>
                <i class="fa-solid fa-floppy-disk"></i>
                Save Configuration
            </button>

            <!-- <button class="btn btn-outline-primary" id="configuration-download-button" onclick=handleDownloadConfigurationButton(event)>
                            <i class="fa-solid fa-file-download"></i>
                            Download Configuration
                        </button> -->

            <button class="btn btn-warning" id="configuration-restore-button"
                onclick=handleRestoreConfigurationButton(event)>
                <i class="fa-solid fa-upload"></i>
                Load Configuration Backup
            </button>

        </li>
    </ul>
</div>