<li class="list-group-item group-header" id="group-header-{{ group_name }}">
   <span class="font-weight-bold">Group: </span>
   <span>{{ group_name }}</span>
   <span class="float-right">
      {% include "components/hardware_button.html" %}
   </span>
</li>
<li class="list-group-item group" id="group-{{ group_name }}">
   <div class='dropzone' id="dropzone-group-{{ group_name }}">
      {% for node in nodes %}
      {% if node not in config.partitions %}
      {% include "components/node.html" %}
      {% endif %}
      {% endfor %}
   </div>
</li>