<div class="card">
   <ul class="list-group list-group-flush" id="nodes-card">
      <li class="list-group-item">
         <span class="font-weight-bold">
            Selected Nodes
         </span>
      </li>
      <li class="list-group-item">
         <div>
            <span id="selected-nodes">
               No nodes selected
            </span>
         </div>
      </li>
      <li class="list-group-item">
         <div>
            {% include "components/hardware_button.html" %}
         </div>
      </li>
   </ul>
</div>