<li class="list-group-item collapse" id="settings-advanced-{{ partition_name }}">
    <h5> Advanced Settings </h5>

    <div class="form-group">
        <label for="{{ partition_name }}-CpuBind">CPU Bind</label>
        <select class="form-control" id="{{ partition_name }}-CpuBind">
            <option value="" {{'selected' if partition.properties.CpuBind == ''}}>(Default)</option>
            <option value="socket" {{'selected' if partition.properties.CpuBind == 'socket'}}>SOCKET</option>
            <option value="ldom" {{'selected' if partition.properties.CpuBind == 'ldom'}}>LDOM (NUMA)</option>
            <option value="core" {{'selected' if partition.properties.CpuBind == 'core'}}>CORE</option>
            <option value="thread" {{'selected' if partition.properties.CpuBind == 'thread'}}>THREAD</option>
        </select>
    </div>

    <div class="form-group">
        <label for="{{ partition_name }}-MaxCPUsPerNode">Max CPUs per node ( for a single Job ) </label>
        <div class="input-group">
            <input type="number" class="form-control" id="{{ partition_name }}-MaxCPUsPerNode" value="{{partition.properties.MaxCPUsPerNode}}">
            <div class="input-group-append">
                <div class="input-group-text">#</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ partition_name }}-MaxCPUsPerSocket">Max CPUs per socket ( for a single Job ) </label>
        <div class="input-group">
            <input type="number" class="form-control" id="{{ partition_name }}-MaxCPUsPerSocket" value="{{partition.properties.MaxCPUsPerSocket}}">
            <div class="input-group-append">
                <div class="input-group-text">#</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ partition_name }}-MaxMemPerNode">Max memory per node ( for a single Job ) </label>
        <div class="input-group">
            <input type="number" class="form-control" id="{{ partition_name }}-MaxMemPerNode" value="{{partition.properties.MaxMemPerNode}}">
            <div class="input-group-append">
                <div class="input-group-text">MB</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ partition_name }}-MaxMemPerCPU">Max memory per CPU ( for a single Job ) </label>
        <div class="input-group">
            <input type="number" class="form-control" id="{{ partition_name }}-MaxMemPerCPU" value="{{partition.properties.MaxMemPerCPU}}">
            <div class="input-group-append">
                <div class="input-group-text">MB</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ partition_name }}-DefCPUsPerGPU">Default CPUs per GPU ( for a single Job ) </label>
        <div class="input-group">
            <input type="number" class="form-control" id="{{ partition_name }}-DefCPUsPerGPU" value="{{partition.properties.DefCPUsPerGPU}}">
            <div class="input-group-append">
                <div class="input-group-text">#</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ partition_name }}-DefMemPerNode">Default memory per node ( for a single Job ) </label>
        <div class="input-group">
            <input type="number" class="form-control" id="{{ partition_name }}-DefMemPerNode" value="{{partition.properties.DefMemPerNode}}">
            <div class="input-group-append">
                <div class="input-group-text">MB</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ partition_name }}-DefMemPerCPU">Default memory per CPU ( for a single Job ) </label>
        <div class="input-group">
            <input type="number" class="form-control" id="{{ partition_name }}-DefMemPerCPU" value="{{partition.properties.DefMemPerCPU}}">
            <div class="input-group-append">
                <div class="input-group-text">MB</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ partition_name }}-OverSubscribe">Over subscribe</label>
        <select class="form-control" id="{{ partition_name }}-OverSubscribe">
            <option value="" {{'selected' if partition.properties.OverSubscribe == ''}}>(Default)</option>
            <option value="YES" {{'selected' if partition.properties.OverSubscribe == True}}>YES</option>
            <option value="NO" {{'selected' if partition.properties.OverSubscribe == False}}>NO</option>
            <option value="EXCLUSIVE" {{'selected' if partition.properties.OverSubscribe == 'EXCLUSIVE'}}>EXCLUSIVE</option>
            <option value="FORCE" {{'selected' if partition.properties.OverSubscribe == 'FORCE'}}>FORCE</option>
        </select>
    </div>

</li>