{% set partition_name=partition.name %}
<div class="card partition-card" id="partition-{{ partition_name }}">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="font-weight-bold">
                Partition:
            </span>
            <span>
                {{ partition_name }}
            </span>
        </li>
        <li class="list-group-item">
            <span>

                {% include "components/hardware_button.html" %}
                <button class="btn btn-outline-primary button-show-settings" type="button"
                    data-target="settings-{{ partition_name }}" onclick="handleShowSettingsButton(event)">
                    <div class="text closed">
                        <i class="fa-solid fa-eye"></i>
                        Settings
                    </div>
                    <div class="text opened d-none">
                        <i class="fa-solid fa-eye-slash"></i>
                        Settings
                    </div>
                </button>
                <button class="btn btn-danger button-close h-100" type="button" aria-label="Close"
                    onclick="handleDeletePartitionButton(event)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </span>
            <!-- <button  class="btn btn-outline-primary button-hide-settings " type="button"  data-target="#hide-settings-{{ partition_name }}">
                    <i class="fa-solid fa-eye-slash"></i>
                </button> -->

        </li>
        {% include "components/partition_card_form_settings.html" %}
        {% include "components/partition_card_form_advanced_settings.html" %}
        {% include "components/partition_card_form_nodes.html" %}
    </ul>
</div>