<div class="card">
   <ul class="list-group list-group-flush">
      <li class="list-group-item">
         Add new partitions
      </li>
      <li class="list-group-item"> 
         <div class="input-group">
            <input type="text" class="form-control" id="new-partition-name" placeholder="New Partition Name">
            <div class="input-group-append">
               <button class="btn btn-primary" id="new-partition-button" onclick="handleCreatePartitionForm(event)">
                  <i class="fa-solid fa-plus"></i>
               </button>
            </div>
         </div>

      </li>
   </ul>
</div>