<div class="card submenu-card">
   <ul class="list-group list-group-flush">
      <li class="list-group-item">
         <h5 class="card-title">Partitions Menu</h5>
         
         <div class="input-group">
            <input type="text" class="form-control" id="new-partition-name" placeholder="New Partition Name">
            <div class="input-group-append">
               <button class="btn btn-primary" id="new-partition-button"><i class="fa-solid fa-plus"></i></button>
            </div>
         </div>

      </li>
   </ul>
</div>