{% extends "layout/base.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y" style="max-width: none;">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">OS Image / {{ record }} /</span> Change Kernel And Pack</h4>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}


  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Change Kernel {{ record }}</h5>
          <small class="text-muted float-end">Change values here...</small>
          <span style="float: right;"><a href="{{ url_for('home') }}" class="btn btn-warning">Back</a></span>
        </div>
        
        <div class="card-body">
          <form id="formAuthentication" class="mb-3" action="" method="POST">
            
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">OS Image</label>
              <div class="col-sm-10">
                  <select name="name" class="form-control" onchange="get_image_info();" required="" id="id_name">{{ osimage_list | safe }}</select>
              </div>
            </div>
            
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">initrd file</label>
              <div class="col-sm-10">
                  <input type="text" name="initrdfile" class="form-control" maxlength="100" id="id_initrdfile" value="{{ data.initrdfile }}" />
              </div>
            </div>
            
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">kernel file</label>
              <div class="col-sm-10">
                  <input type="text" name="kernelfile" class="form-control" maxlength="100" id="id_kernelfile" value="{{ data.kernelfile }}" />
              </div>
            </div>
            
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">kernel version</label>
              <div class="col-sm-10">
                  <input type="text" name="kernelversion" class="form-control" maxlength="100" id="id_kernelversion" value="{{ data.kernelversion }}" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">bare</label>
              <div class="col-sm-10"><input type="checkbox" name="bare" class="form-check-input" id="id_bare"></div>
            </div>

            <div class="row justify-content-end">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update Kernel </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- / Content -->
<hr class="my-5" />
{% endblock content %}
