include requirements.txt
include VERSION.txt
include LICENSE.txt
include README.md
include manifest.yml
include Passengerfile.json

include _base
include _base/*
include _base/settings
include _base/settings/*
include _base/static
include _base/static/*
include _base/static/bootstrap-3.3.7/*
include _base/static/bootstrap-3.3.7/css/*
include _base/static/bootstrap-3.3.7/fonts/*
include _base/static/bootstrap-3.3.7/js/*
include _base/static/jquery-3.2.1/*
include _base/static/ood-bootstrap3-override-0.0.1/*
include _base/templates/*

include bmcsetup
include bmcsetup/*
include bmcsetup/static
include bmcsetup/static/*
include bmcsetup/static/css
include bmcsetup/static/css/*
include bmcsetup/static/fonts
include bmcsetup/static/fonts/*
include bmcsetup/static/img
include bmcsetup/static/img/*
include bmcsetup/static/js
include bmcsetup/static/js/*
include bmcsetup/templates
include bmcsetup/templates/*
include bmcsetup/templates/layout
include bmcsetup/templates/layout/*

include cluster
include cluster/*
include cluster/static
include cluster/static/*
include cluster/static/css
include cluster/static/css/*
include cluster/static/img
include cluster/static/img/*
include cluster/static/js
include cluster/static/js/*
include cluster/templates
include cluster/templates/*
include cluster/templates/layout
include cluster/templates/layout/*

include control
include control/*
include control/static
include control/static/*
include control/static/css
include control/static/css/*
include control/static/fonts
include control/static/fonts/*
include control/static/img
include control/static/img/*
include control/static/js
include control/static/js/*
include control/templates
include control/templates/*
include control/templates/layout
include control/templates/layout/*

include group
include group/*
include group/static
include group/static/*
include group/static/css
include group/static/css/*
include group/static/fonts
include group/static/fonts/*
include group/static/img
include group/static/img/*
include group/static/js
include group/static/js/*
include group/templates
include group/templates/*
include group/templates/layout
include group/templates/layout/*

include network
include network/*
include network/static
include network/static/*
include network/static/css
include network/static/css/*
include network/static/fonts
include network/static/fonts/*
include network/static/img
include network/static/img/*
include network/static/js
include network/static/js/*
include network/templates
include network/templates/*
include network/templates/layout
include network/templates/layout/*

include node
include node/*
include node/static
include node/static/*
include node/static/css
include node/static/css/*
include node/static/fonts
include node/static/fonts/*
include node/static/img
include node/static/img/*
include node/static/js
include node/static/js/*
include node/templates
include node/templates/*
include node/templates/layout
include node/templates/layout/*

include osimage
include osimage/*
include osimage/static
include osimage/static/*
include osimage/static/css
include osimage/static/css/*
include osimage/static/fonts
include osimage/static/fonts/*
include osimage/static/img
include osimage/static/img/*
include osimage/static/js
include osimage/static/js/*
include osimage/templates
include osimage/templates/*
include osimage/templates/layout
include osimage/templates/layout/*

include osimagetag
include osimagetag/*
include osimagetag/static
include osimagetag/static/*
include osimagetag/static/css
include osimagetag/static/css/*
include osimagetag/static/fonts
include osimagetag/static/fonts/*
include osimagetag/static/img
include osimagetag/static/img/*
include osimagetag/static/js
include osimagetag/static/js/*
include osimagetag/templates
include osimagetag/templates/*
include osimagetag/templates/layout
include osimagetag/templates/layout/*

include otherdev
include otherdev/*
include otherdev/static
include otherdev/static/*
include otherdev/static/css
include otherdev/static/css/*
include otherdev/static/fonts
include otherdev/static/fonts/*
include otherdev/static/img
include otherdev/static/img/*
include otherdev/static/js
include otherdev/static/js/*
include otherdev/templates
include otherdev/templates/*
include otherdev/templates/layout
include otherdev/templates/layout/*

include secrets
include secrets/*
include secrets/static
include secrets/static/*
include secrets/static/css
include secrets/static/css/*
include secrets/static/fonts
include secrets/static/fonts/*
include secrets/static/img
include secrets/static/img/*
include secrets/static/js
include secrets/static/js/*
include secrets/templates
include secrets/templates/*
include secrets/templates/layout
include secrets/templates/layout/*

include sensu
include sensu/*
include sensu/static
include sensu/static/*
include sensu/static/bootstrap-3.3.7/*
include sensu/static/bootstrap-3.3.7/css/*
include sensu/static/bootstrap-3.3.7/fonts/*
include sensu/static/bootstrap-3.3.7/js/*
include sensu/static/jquery-3.2.1/*
include sensu/static/ood-bootstrap3-override-0.0.1/*
include sensu/templates/*

include service
include service/*
include service/static
include service/static/*
include service/static/css
include service/static/css/*
include service/static/fonts
include service/static/fonts/*
include service/static/img
include service/static/img/*
include service/static/js
include service/static/js/*
include service/templates
include service/templates/*
include service/templates/layout
include service/templates/layout/*

include switch
include switch/*
include switch/static
include switch/static/*
include switch/static/css
include switch/static/css/*
include switch/static/fonts
include switch/static/fonts/*
include switch/static/img
include switch/static/img/*
include switch/static/js
include switch/static/js/*
include switch/templates
include switch/templates/*
include switch/templates/layout
include switch/templates/layout/*

include users
include users/*
include users/static
include users/static/*
include users/templates/*
