include requirements.txt
include VERSION.txt
include LICENSE.txt
include README.md
include manifest.yml
include Passengerfile.json

include _base
include _base/*
include _base/settings
include _base/settings/*
include _base/static
include _base/static/*
include _base/static/bootstrap-3.3.7/*
include _base/static/bootstrap-3.3.7/css/*
include _base/static/bootstrap-3.3.7/fonts/*
include _base/static/bootstrap-3.3.7/js/*
include _base/static/jquery-3.2.1/*
include _base/static/ood-bootstrap3-override-0.0.1/*
include _base/templates/*

include cluster
include cluster/*
include cluster/app
include cluster/app/*
include cluster/app/assets
include cluster/app/assets/*

include control
include control/*
include control/static
include control/static/*
include control/static/css
include control/static/css/*
include control/static/fonts
include control/static/fonts/*
include control/static/img
include control/static/img/*
include control/static/js
include control/static/js/*
include control/templates
include control/templates/*
include control/templates/layout
include control/templates/layout/*

include bmcsetup
include bmcsetup/*
include bmcsetup/app
include bmcsetup/app/*
include bmcsetup/app/assets
include bmcsetup/app/assets/*

include group
include group/*
include group/app
include group/app/*
include group/app/assets
include group/app/assets/*

include network
include network/*
include network/app
include network/app/*
include network/app/assets
include network/app/assets/*

include node
include node/*
include node/app
include node/app/*
include node/app/assets
include node/app/assets/*

include osimage
include osimage/*
include osimage/addons
include osimage/addons/*
include osimage/addons/chroot_wrapper.sh
include osimage/app
include osimage/app/*
include osimage/app/assets
include osimage/app/assets/*

include osimagetag
include osimagetag/*
include osimagetag/app
include osimagetag/app/*
include osimagetag/app/assets
include osimagetag/app/assets/*

include otherdev
include otherdev/*
include otherdev/app
include otherdev/app/*
include otherdev/app/assets
include otherdev/app/assets/*

include switch
include switch/*
include switch/app
include switch/app/*
include switch/app/assets
include switch/app/assets/*

include secrets
include secrets/*
include secrets/static
include secrets/static/*
include secrets/static/css
include secrets/static/css/*
include secrets/static/fonts
include secrets/static/fonts/*
include secrets/static/img
include secrets/static/img/*
include secrets/static/js
include secrets/static/js/*
include secrets/templates
include secrets/templates/*
include secrets/templates/layout
include secrets/templates/layout/*

include service
include service/*
include service/static
include service/static/*
include service/static/css
include service/static/css/*
include service/static/fonts
include service/static/fonts/*
include service/static/img
include service/static/img/*
include service/static/js
include service/static/js/*
include service/templates
include service/templates/*
include service/templates/layout
include service/templates/layout/*


include monitor
include monitor/*
include monitor/static
include monitor/static/*
include monitor/static/css
include monitor/static/css/*
include monitor/static/img
include monitor/static/img/*
include monitor/static/js
include monitor/static/js/*
include monitor/templates
include monitor/templates/*
include monitor/templates/layout
include monitor/templates/layout/*

include dns
include dns/*
include dns/app
include dns/app/*
include dns/app/assets
include dns/app/assets/*

recursive-include users * 

recursive-include infiniband *

recursive-include slurm *

recursive-include sensu *

include rack
include rack/*
include rack/static
include rack/static/*
include rack/static/css
include rack/static/css/*
include rack/static/fonts
include rack/static/fonts/*
include rack/static/img
include rack/static/img/*
include rack/static/js
include rack/static/js/*
include rack/static/icons
include rack/static/icons/*
include rack/templates
include rack/templates/*
include rack/templates/layout
include rack/templates/layout/*

recursive-include rack *


include alertx
include alertx/*
include alertx/app
include alertx/app/*
include alertx/app/assets
include alertx/app/assets/*


include passwd
include passwd/*
include passwd/static
include passwd/static/*
include passwd/static/css
include passwd/static/css/*
include passwd/static/fonts
include passwd/static/fonts/*
include passwd/static/img
include passwd/static/img/*
include passwd/static/js
include passwd/static/js/*
include passwd/static/icons
include passwd/static/icons/*
include passwd/templates
include passwd/templates/*
include passwd/templates/layout
include passwd/templates/layout/*

recursive-include passwd *



