include requirements.txt
include VERSION.txt
include README.md
include manifest.yml
include Passengerfile.json

include bmcsetup
include bmcsetup/*
include bmcsetup/static
include bmcsetup/static/*
include bmcsetup/static/assets/*
include bmcsetup/static/assets/img/*
include bmcsetup/static/assets/img/avatars/*
include bmcsetup/static/assets/img/favicon/*
include bmcsetup/static/assets/vendor/*
include bmcsetup/static/assets/vendor/css/*
include bmcsetup/static/assets/vendor/fonts/*
include bmcsetup/static/assets/vendor/fonts/boxicons/*
include bmcsetup/static/assets/vendor/js/*
include bmcsetup/static/assets/vendor/libs/*
include bmcsetup/static/assets/vendor/libs/jquery/*
include bmcsetup/templates/*
include bmcsetup/templates/layout/*

include cluster
include cluster/*
include cluster/static
include cluster/static/*
include cluster/static/assets/*
include cluster/static/assets/img/*
include cluster/static/assets/img/avatars/*
include cluster/static/assets/img/favicon/*
include cluster/static/assets/vendor/*
include cluster/static/assets/vendor/css/*
include cluster/static/assets/vendor/fonts/*
include cluster/static/assets/vendor/fonts/boxicons/*
include cluster/static/assets/vendor/js/*
include cluster/static/assets/vendor/libs/*
include cluster/static/assets/vendor/libs/jquery/*
include cluster/templates/*
include cluster/templates/layout/*

include control
include control/*
include control/static
include control/static/*
include control/static/assets/*
include control/static/assets/img/*
include control/static/assets/img/avatars/*
include control/static/assets/img/favicon/*
include control/static/assets/vendor/*
include control/static/assets/vendor/css/*
include control/static/assets/vendor/fonts/*
include control/static/assets/vendor/fonts/boxicons/*
include control/static/assets/vendor/js/*
include control/static/assets/vendor/libs/*
include control/static/assets/vendor/libs/jquery/*
include control/templates/*
include control/templates/layout/*

include group
include group/*
include group/static
include group/static/*
include group/static/assets/*
include group/static/assets/img/*
include group/static/assets/img/avatars/*
include group/static/assets/img/favicon/*
include group/static/assets/vendor/*
include group/static/assets/vendor/css/*
include group/static/assets/vendor/fonts/*
include group/static/assets/vendor/fonts/boxicons/*
include group/static/assets/vendor/js/*
include group/static/assets/vendor/libs/*
include group/static/assets/vendor/libs/jquery/*
include group/templates/*
include group/templates/layout/*

include network
include network/*
include network/static
include network/static/*
include network/static/assets/*
include network/static/assets/img/*
include network/static/assets/img/avatars/*
include network/static/assets/img/favicon/*
include network/static/assets/vendor/*
include network/static/assets/vendor/css/*
include network/static/assets/vendor/fonts/*
include network/static/assets/vendor/fonts/boxicons/*
include network/static/assets/vendor/js/*
include network/static/assets/vendor/libs/*
include network/static/assets/vendor/libs/jquery/*
include network/templates/*
include network/templates/layout/*

include node
include node/*
include node/static
include node/static/*
include node/static/assets/*
include node/static/assets/img/*
include node/static/assets/img/avatars/*
include node/static/assets/img/favicon/*
include node/static/assets/vendor/*
include node/static/assets/vendor/css/*
include node/static/assets/vendor/fonts/*
include node/static/assets/vendor/fonts/boxicons/*
include node/static/assets/vendor/js/*
include node/static/assets/vendor/libs/*
include node/static/assets/vendor/libs/jquery/*
include node/templates/*
include node/templates/layout/*

include osimage
include osimage/*
include osimage/static
include osimage/static/*
include osimage/static/assets/*
include osimage/static/assets/img/*
include osimage/static/assets/img/avatars/*
include osimage/static/assets/img/favicon/*
include osimage/static/assets/vendor/*
include osimage/static/assets/vendor/css/*
include osimage/static/assets/vendor/fonts/*
include osimage/static/assets/vendor/fonts/boxicons/*
include osimage/static/assets/vendor/js/*
include osimage/static/assets/vendor/libs/*
include osimage/static/assets/vendor/libs/jquery/*
include osimage/templates/*
include osimage/templates/layout/*

include otherdev
include otherdev/*
include otherdev/static
include otherdev/static/*
include otherdev/static/assets/*
include otherdev/static/assets/img/*
include otherdev/static/assets/img/avatars/*
include otherdev/static/assets/img/favicon/*
include otherdev/static/assets/vendor/*
include otherdev/static/assets/vendor/css/*
include otherdev/static/assets/vendor/fonts/*
include otherdev/static/assets/vendor/fonts/boxicons/*
include otherdev/static/assets/vendor/js/*
include otherdev/static/assets/vendor/libs/*
include otherdev/static/assets/vendor/libs/jquery/*
include otherdev/templates/*
include otherdev/templates/layout/*

include secrets
include secrets/*
include secrets/static
include secrets/static/*
include secrets/static/assets/*
include secrets/static/assets/img/*
include secrets/static/assets/img/avatars/*
include secrets/static/assets/img/favicon/*
include secrets/static/assets/vendor/*
include secrets/static/assets/vendor/css/*
include secrets/static/assets/vendor/fonts/*
include secrets/static/assets/vendor/fonts/boxicons/*
include secrets/static/assets/vendor/js/*
include secrets/static/assets/vendor/libs/*
include secrets/static/assets/vendor/libs/jquery/*
include secrets/templates/*
include secrets/templates/layout/*

include sensu
include sensu/*
include sensu/static
include sensu/static/*
include sensu/static/bootstrap-3.3.7/*
include sensu/static/bootstrap-3.3.7/css/*
include sensu/static/bootstrap-3.3.7/fonts/*
include sensu/static/bootstrap-3.3.7/js/*
include sensu/static/jquery-3.2.1/*
include sensu/static/ood-bootstrap3-override-0.0.1/*
include sensu/templates/*

include service
include service/*
include service/static
include service/static/*
include service/static/assets/*
include service/static/assets/img/*
include service/static/assets/img/avatars/*
include service/static/assets/img/favicon/*
include service/static/assets/vendor/*
include service/static/assets/vendor/css/*
include service/static/assets/vendor/fonts/*
include service/static/assets/vendor/fonts/boxicons/*
include service/static/assets/vendor/js/*
include service/static/assets/vendor/libs/*
include service/static/assets/vendor/libs/jquery/*
include service/templates/*
include service/templates/layout/*

include switch
include switch/*
include switch/static
include switch/static/*
include switch/static/assets/*
include switch/static/assets/img/*
include switch/static/assets/img/avatars/*
include switch/static/assets/img/favicon/*
include switch/static/assets/vendor/*
include switch/static/assets/vendor/css/*
include switch/static/assets/vendor/fonts/*
include switch/static/assets/vendor/fonts/boxicons/*
include switch/static/assets/vendor/js/*
include switch/static/assets/vendor/libs/*
include switch/static/assets/vendor/libs/jquery/*
include switch/templates/*
include switch/templates/layout/*
