
<nav class="navbar shadow-sm navbar-light">
    <ol class="breadcrumb bg-transparent d-flex align-items-center">
        <a href="/" aria-current="page" role="menuitem">
            <img src="{{ url_for( 'static', filename='/img/logo.png') }}" class="img-logo">
        </a>
        <li class="breadcrumb-item"><a class="align-middle" href="/">Home</a></li>
        <li class="breadcrumb-item"><a class="align-middle" href="{{ url_for('home') }}">{{ table }}</a></li>
        {% if secret_name %}
            <li class="breadcrumb-item"><a class="align-middle" href="{{ url_for('home',  entity=entity) }}">{{ entity | capitalize }}</a></li>
            <li class="breadcrumb-item"><a class="align-middle" href="{{ url_for(request.endpoint, **request.view_args) }}">{{ request.endpoint | capitalize  }} {{ secret_name | capitalize }}</a></li>
        {% elif entity %}
            {% if page %}
                <li class="breadcrumb-item"><a class="align-middle" href="{{ url_for('home',  entity=entity) }}">{{ entity | capitalize }}</a></li>
                <li class="breadcrumb-item"><a class="align-middle" href="{{ url_for(request.endpoint, **request.view_args) }}">{{ page }}</a></li>
            {% else %}
                <li class="breadcrumb-item"><a class="align-middle" href="{{ url_for(request.endpoint, **request.view_args) }}">{{ entity | capitalize }}</a></li>
            {% endif %}
        {% endif %}
    </ol>
</nav>
