{% extends "table.html" %}
{% block table %}
<thead>
  <tr>
    <th>source</th>
    <th>datacenter</th>
    <th>check_name</th>
    <th>check_description</th>
    <th>last executed</th>
    <th>last ok</th>
    <th>silenced</th>
  </tr>
</thead>
<tbody>
  {% for item in items %}
  <tr>
      <td>{{item.client.name}}</td>
      <td>{{item.dc}}</td>
      <td>{{item.check.name}}</td>
      <td>{{item.check.description}}</td>
      <td>{{item.check.executed|prettify_ts}}</td>
      <td>{{item.last_state_change|prettify_ts}}</td>
      <td>{{item.silenced}}</td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}

