{% extends "base/pages/index.html" %}

{% block content %}

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events"
        aria-selected="true">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="checks-tab" data-toggle="tab" href="#checks" role="tab" aria-controls="checks"
        aria-selected="false">Checks</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="events-tab">

      <div id="events-table"></div>
    </div>
    <div class="tab-pane fade" id="checks" role="tabpanel" aria-labelledby="checks-tab">

      <div id="checks-table"></div>
    </div>
  </div>




<script>
  var currentLocation = window.location;

  var eventsEndpoint = currentLocation.protocol + "//" + currentLocation.host + currentLocation.pathname + "/events";
  var checksEndpoint = currentLocation.protocol + "//" + currentLocation.host + currentLocation.pathname + "/checks";

  var eventsTable = new Tabulator("#events-table", {
    ajaxURL: eventsEndpoint,
    autoColumns: true, //create columns from data field names
    layout: "fitColumns", //fit columns to width of table (optional)
    pagination: "local",
    paginationSize: 20,
  });
  var checksTable = new Tabulator("#checks-table", {
    ajaxURL: checksEndpoint,
    autoColumns: true, //create columns from data field names
    layout: "fitColumns", //fit columns to width of table (optional)
    pagination: "local",
    paginationSize: 20,
  });

  function updateTables() {
    $.ajax({
      url: eventsEndpoint,
      type: "GET",
      dataType: "json",
      success: function (data) {
        eventsTable.setData(data);
      },
      failure: function (data) {
        displayAlert("danger", "Could not retrieve events");
      }
    });

    $.ajax({
      url: checksEndpoint,
      type: "GET",
      dataType: "json",
      success: function (data) {
        checksTable.setData(data);
      },
      failure: function (data) {
        displayAlert("danger", "Could not retrieve checks");
      }
    });


  }

  setInterval(updateTables, 6000);
</script>

{% endblock %}