{% extends "base/pages/index.html" %}

{% block content %}
<div class="container" role="main">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events"
        aria-selected="true">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="checks-tab" data-toggle="tab" href="#checks" role="tab" aria-controls="checks"
        aria-selected="false">Checks</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="events-tab">

      <div id="events-table"></div>
    </div>
    <div class="tab-pane fade" id="checks" role="tabpanel" aria-labelledby="checks-tab">

      <div id="checks-table"></div>
    </div>
  </div>
</div>



<script>
  var currentLocation = window.location;

  var eventsEndpoint = currentLocation.protocol + "//" + currentLocation.host + currentLocation.pathname + "/events";
  var checksEndpoint = currentLocation.protocol + "//" + currentLocation.host + currentLocation.pathname + "/checks";

  var eventsTable = new Tabulator("#events-table", {
    ajaxURL: eventsEndpoint,
    autoColumns: true, //create columns from data field names
    layout: "fitColumns", //fit columns to width of table (optional)
    pagination: "local",
    paginationSize: 20,
  });
  var checksTable = new Tabulator("#checks-table", {
    ajaxURL: checksEndpoint,
    autoColumns: true, //create columns from data field names
    layout: "fitColumns", //fit columns to width of table (optional)
    pagination: "local",
    paginationSize: 20,
  });

  function updateTables() {

    var eventsRequest = new XMLHttpRequest();
    eventsRequest.open("GET", eventsEndpoint, true);
    eventsRequest.send();
    eventsRequest.onreadystatechange = function () {
      if (eventsRequest.readyState == 4 && eventsRequest.status == 200) {
        newEvents = JSON.parse(eventsRequest.responseText);
        eventsTable.setData(JSON.parse(eventsRequest.responseText));
      } else if (eventsRequest.readyState == 4) {
        displayAlert("danger", "Could not retrieve events");
      }
    };

    var checksRequest = new XMLHttpRequest();
    checksRequest.open("GET", checksEndpoint, true);
    checksRequest.send();
    checksRequest.onreadystatechange = function () {
      if (checksRequest.readyState == 4 && checksRequest.status == 200) {
        newChecks = JSON.parse(checksRequest.responseText);
        checksTable.setData(JSON.parse(checksRequest.responseText));
      } else if (eventsRequest.readyState == 4) {
        displayAlert("danger", "Could not retrieve checks");
      }
    };


  }

  setInterval(updateTables, 60000);
</script>

{% endblock %}