<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>

<script>
    $("#btn-status").addClass("active");
    function status(service=null){
        $('#default').empty();
        $('#title').empty();
        $.ajax({
            url: window.location.href+"/status/"+service,
            type: 'GET',
            contentType: 'application/json; charset=UTF-8',
            success: function(request_data) {
                $('#default').html(request_data);
                $('#title').append(service.charAt(0).toUpperCase() + service.slice(1));
                if (service === 'status'){
                    $("#btn-status").addClass("active");
                    $("#btn-queue").removeClass("active");
                } else {
                    $("#btn-status").removeClass("active");
                    $("#btn-queue").addClass("active");
                }
            }
        });
    }

    new DataTable('#datatable');
</script>