<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<title>{{ table }} :: Luna</title>
<meta name="description" content="" />
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}" class="template-customizer-core-css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme-default.css') }}" class="template-customizer-theme-css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}" />


<style>

  img.img-logo {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      padding: 0rem;
  }

  .align-middle {
      color: #007bff !important;
      text-decoration: none;
      background-color: transparent;
  }
  
  .navbar {
      background-color: #e7e7e7;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: .5rem 1rem;
  }
  
  .breadcrumb {
      margin-bottom: 0rem;
  }

  .shadow-sm {
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  
</style>

<style>
  .active {
      box-shadow: 0px 0px 50px #28c45c;   
  }

  .alert-error {
    background-color: #ffe0db;
    border-color: #ffc5bb;
    color: #ff3e1d;
  }
  
  a:not([href]) {
    color: white; 
    text-decoration: none;
  }

  .button_tooltip {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }
  
  #run-time-body{
    background-color: black;
    color:antiquewhite
  }
    
  .spinner {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

</style>