{% extends "layout/base.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y" style="max-width: none;">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">{{ table }} /</span> Luna</h4>
  <!-- Bordered Table -->
  <div class="card">
    <h5 class="card-header">{% if record %}{{ record }}{% else %}{{ table }} {% endif %}
      <span id="title">{{title }}</span>
      <span style="float: right;">
        <a onclick="status('status');" style="color: white;" id="btn-status" class="btn btn-info">Monitor Status</a>
        <a onclick="status('queue');" style="color: white;" id="btn-queue" class="btn btn-primary">Monitor Queue</a>
      </span>
    </h5>
    <div class="card-body">
      <div class="text-nowrap">
        <div id="default">
          {% if data %}
            {{ data | safe }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!--/ Bordered Table -->
</div>
<!-- / Content --><hr class="my-5" />
{% endblock content %}