{% extends "layout/base.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y" style="max-width: none;">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">{{ entity.capitalize() }} {{ table }} /</span> {{ entity_name }} / {{ secret_name }}</h4>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Clone {{ secret_name }}</h5>
          <small class="text-muted float-end">Change values here...</small>
          <span style="float: right;"><a href="{{ url_for('home') }}" class="btn btn-warning">Back</a></span>
        </div>

        <div class="card-body">
          <form id="formAuthentication" class="mb-3" action="" method="POST">

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">secret</label>
              <div class="col-sm-10"><input type="text" name="secret" class="form-control" readonly maxlength="100" required="" id="id_secret" value="{{ data.name }}" /></div>
            </div>
            
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">New Secret Name</label>
              <div class="col-sm-10"><input type="text" name="newsecretname" class="form-control" maxlength="100" required="" id="id_newsecretname"></div>
            </div>
          
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">{{ entity }}</label>
              <div class="col-sm-10">
                <select name="name" class="form-control" required="" id="id_name">{{ select_list | safe }}</select></div>
            </div>
          
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">path</label>
              <div class="col-sm-10"><input type="text" name="path" class="form-control" maxlength="100" id="id_path" value="{{ data.path }}" /></div>
            </div>
          
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">content</label>
              <div class="col-sm-10"><textarea name="content" cols="5" rows="3" class="form-control" maxlength="100" id="id_content">{{ data.content }}</textarea></div>
            </div>
            
            <div class="row justify-content-end">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Clone {{ table }}</button>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- / Content -->
<hr class="my-5" />
{% endblock content %}
