{% extends "layout/base.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y" style="max-width: none;">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">{{ table }} /</span> List Of All {{ table }}</h4>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5 class="card-header" >Home Page  <a  href="{{ url_for('home') }}" class="btn btn-info">{{ table }}</a></h5>
    </div>
      <div class="col-sm">
        <h5 class="card-header">Group {{ table }} <a  href="{{ url_for('home', entity='group') }}" class="btn btn-primary">Group Secret</a></h5>
      </div>
      <div class="col-sm">
        <h5 class="card-header" style="float: right;" >Node {{ table }} <a  href="{{ url_for('home', entity='node') }}" class="btn btn-warning">Node Secret</a></h5>
      </div>
      
    </div>
  </div>

{% if secrets == False %}
<div class="card">
  {% if 'group' in request.get_full_path %}
  <h5 class="card-header">Group {{ table }} <span><a style="float: right;" href="{{ url_for('add', table='group_'+table.lower()) }}" class="btn btn-success">Add New Group Secret</a></span></h5>
  {% elif 'node' in request.get_full_path %}
  <h5 class="card-header">Node {{ table }} <span><a style="float: right;" href="{{ url_for('add', table='node_'+table.lower()) }}" class="btn btn-success">Add New Node Secret</a></span></h5>
  {% else %}
  <h5 class="card-header">Group {{ table }} <span><a style="float: right;" href="{{ url_for('add', table='group_'+table.lower()) }}" class="btn btn-success">Add New Group Secret</a></span></h5>
  <h5 class="card-header">Node {{ table }} <span><a style="float: right;" href="{{ url_for('add', table='node_'+table.lower()) }}" class="btn btn-success">Add New Node Secret</a></span></h5>
  {% endif %}
</div>


{% elif secrets %}
{% if group_secrets %}
<!-- Bordered Table -->
<div class="card">
  <h5 class="card-header">Group {{ table }} List <span><a style="float: right;" href="{{ url_for('add', table='group_'+table.lower()) }}" class="btn btn-success">Add New Group Secret</a></span></h5>
  <div class="card-body">
    <div class="table-responsive text-nowrap">{{ group_secrets  | safe }}</div>
  </div>
</div>
<!--/ Bordered Table -->
{% elif 'group' in request.get_full_path  %}
<div class="card">
  <h5 class="card-header">Group {{ table }} <span><a style="float: right;" href="{{ url_for('add', table='group_'+table.lower()) }}" class="btn btn-success">Add New Group Secret</a></span></h5>
</div>
{% endif %}

<br />
{% if node_secrets  %}
<!-- Bordered Table -->
<div class="card">
  <h5 class="card-header">Node {{ table }} List <span><a style="float: right;" href="{{ url_for('add', table='node_'+table.lower()) }}" class="btn btn-success">Add New Node Secret</a></span></h5>
  <div class="card-body">
    <div class="table-responsive text-nowrap">{{ node_secrets  | safe }}</div>
  </div>
</div>
<!--/ Bordered Table -->
{% elif 'node' in request.get_full_path  %}
<div class="card">
  <h5 class="card-header">Node {{ table }} <span><a style="float: right;" href="{{ url_for('add', table='node_'+table.lower()) }}" class="btn btn-success">Add New Node Secret</a></span></h5>
</div>
{% endif %}

{% endif %}

</div>
<!-- / Content -->
<hr class="my-5" />
{% endblock content %}