<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
    // Get all dropdown items
    const dropdownItems = document.querySelectorAll('.dropdown-item');
    const dropdownButton = document.getElementById('dropdownMenuButton');

    // Add event listener to each dropdown item
    dropdownItems.forEach(item => {
        item.addEventListener('click', function(event) {
            event.preventDefault();  // Prevent the default link behavior
            const selectedText = item.textContent;  // Get the text of the selected item

            // Update the button text with the selected item
            dropdownButton.textContent = selectedText;
        });
    });
</script>
<script type="text/javascript">
    // Function to toggle all scale scales
    $(document).ready(function () {
        function hideAllScales() {
            $('#no_scale').hide();
            $('#temp_scale').hide();
            $('#load_scale').hide();
            $('#power_scale').hide();
            $('[class^="temperature-"], [class^="power-"], [class^="load-"]').hide();
        }
        hideAllScales();
        $('.dropdown-item').click(function (event) {
            event.preventDefault();
            const targetId = $(this).data('target');
            hideAllScales();
            $(`#${targetId}`).show();

            if (targetId === 'temp_scale') {
                $('[class^="temperature-"]').show();
            } else if (targetId === 'load_scale') {
                $('[class^="load-"]').show();
            } else if (targetId === 'power_scale') {
                $('[class^="power-"]').show();
            }
        });
    });



    $(document).ready( function() {
        $('.dropdown-toggle').dropdown();
    });

    $('.back').hide();
    $('#front-button').hide();
</script>

<script type="text/javascript">

    function control_action(system, action, device){
        var url = window.location.href
        url = url.replace('#','');
        if  (url.includes('/show/rack/')){
            url = url.split('/');
            url.pop();
            url.pop();
            url.pop();
            url = url.join("/");
        } 
        url = url+'/perform/'+system+'/'+action+'/'+device;
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(response_data) {
                result = '<div class="alert alert-'+response_data.status+'" role="alert">'+response_data.message+'</div>';
                $('#ajax').html();
                $('#ajax').html(result);
                setTimeout(function(){ $('#ajax').html(''); }, 5000);  
                
            }
        });
    }

</script>

<script type="text/javascript">
  
    function interpolateColor(percent, startColor, endColor) {
        return Math.round(startColor + (endColor - startColor) * percent);
    }

    function perc2color(perc) {
        const colors = [
            { r: 0,   g: 0,   b: 255 }, // Blue
            { r: 0,   g: 255, b: 0   }, // Green
            { r: 255, g: 255, b: 0   }, // Yellow
            { r: 255, g: 165, b: 0   }, // Orange
            { r: 255, g: 0,   b: 0   }  // Red
        ];
        var segment = Math.floor(perc / 20);
        var segmentPercent = (perc % 20) / 20;

        if (segment >= colors.length - 1) {
            segment = colors.length - 2;
            segmentPercent = 1;
        }
        const r = interpolateColor(segmentPercent, colors[segment].r, colors[segment + 1].r);
        const g = interpolateColor(segmentPercent, colors[segment].g, colors[segment + 1].g);
        const b = interpolateColor(segmentPercent, colors[segment].b, colors[segment + 1].b);
        return '#' + ('000000' + (r * 0x10000 + g * 0x100 + b).toString(16)).slice(-6);
    }

    function get_temperature(){
        var response;
        $.ajax({
            url: url+"/get_temperature",
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            async: false,
            success: function(response_data) {
                response = response_data;
            }
        });
        return response;
    }
    var prometheus = get_temperature();

    // Loop through each entry and update HTML
    var total_load = 0;
    var total_power = 0;
    prometheus.forEach(function(device) {
        var load = parseFloat(device.load);
        var power = parseFloat(device.power);
        if (power){
            if (power > total_power){
                total_power = power;
            }
        }
        if (load){
            if (load > total_load){
                total_load += load;
            }
        }
    });
    document.getElementById("max_power").innerText = total_power + " watt";
    document.getElementById("max_load").innerText = parseFloat(total_load).toFixed(2);

    prometheus.forEach(function(device) {
        var hostname = device.hostname;
        var temperature = parseFloat(device.temperature);
        var load = parseFloat(device.load);
        var power = parseFloat(device.power);
        var deviceName = hostname.split('.')[0];
        var temperature_percentage = parseFloat((temperature / 90) * 100);
        var power_percentage = parseFloat((power / total_power) * 100);
        var load_percentage = parseFloat((load / total_load) * 100);

        if (temperature){
            const temperature_element = document.querySelector(`.temperature-${deviceName}`);
            if (temperature_element) {
                temperature_element.style.backgroundColor = perc2color(temperature_percentage);
                temperature_element.style.border = "2px solid white";
                temperature_element.setAttribute('title', `<strong>Temperature:</strong> ${temperature}`);
                temperature_element.setAttribute('data-bs-original-title', `<strong>Temperature:</strong> ${temperature}`); // For Bootstrap 5
                new bootstrap.Tooltip(temperature_element); 
            } 
        }
        if (power){
            const power_element = document.querySelector(`.power-${deviceName}`);
            if (power_element) {
                power_element.style.backgroundColor = perc2color(power_percentage);
                power_element.style.border = "2px solid white";
                power_element.setAttribute('title', `<strong>Power Consumption:</strong> ${power}`);
                power_element.setAttribute('data-bs-original-title', `<strong>Power Consumption:</strong> ${power}`); // For Bootstrap 5
                new bootstrap.Tooltip(power_element);
            }
        }
        if (load){
            const load_element = document.querySelector(`.load-${deviceName}`);
            if (load_element){
                load_element.style.backgroundColor = perc2color(load_percentage);
                load_element.style.border = "2px solid white";
                load_element.setAttribute('title', `<strong>System Load:</strong> ${load}`);
                load_element.setAttribute('data-bs-original-title', `<strong>System Load:</strong> ${load}`); // For Bootstrap 5
                new bootstrap.Tooltip(load_element);
            }
             
        }

    });
</script>