<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<title>{{ table }} :: Luna</title>
<meta name="description" content="" />
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/boxicons.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}" class="template-customizer-core-css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme-default.css') }}" class="template-customizer-theme-css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/rack.css') }}" />

<style>

    img.img-logo {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        padding: 0rem;
    }
  
    .align-middle {
        color: #007bff !important;
        text-decoration: none;
        background-color: transparent;
    }
    
    .navbar {
        background-color: #e7e7e7;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
    
    .breadcrumb {
        margin-bottom: 0rem;
    }
  
    .shadow-sm {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
    
  </style>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.js') }}"></script>

  <script type="text/javascript">

    function getBaseUrl(fullUrl) {
        const url = new URL(fullUrl);
        const pathSegments = url.pathname.split('/');
        const punIndex = pathSegments.findIndex(segment => segment === 'pun');
        if (punIndex !== -1) {
            const basePath = pathSegments.slice(0, punIndex + 3).join('/');
            return `${url.origin}${basePath}`;
        }
        return url.origin;
    }

    const url = getBaseUrl(window.location.href);

    function sendScreenSize(){
      var width;
      var height;
      var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
      var screenHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
      var payload = { "width": screenWidth, "height": screenHeight }
      $.ajax({
          url: url+"/get_screen_size",
          type: 'POST',
          data: JSON.stringify(payload),
          dataType: 'json',
          contentType: 'application/json; charset=UTF-8',
          async: false,
          success: function(response_data) {
              width = response_data.width
              height = response_data.height
          }
      });
      return { width, height };
    }

    window.addEventListener('resize', function() {
        // Call sendScreenSize function whenever window is resized
        sendScreenSize();
    });

  </script>

  