<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<title>{{ table }} :: Luna</title>
<meta name="description" content="" />
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/ClusterVision-Icon.svg') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/boxicons.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}" class="template-customizer-core-css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme-default.css') }}" class="template-customizer-theme-css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/rack.css') }}" />

<style>

    img.img-logo {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        padding: 0rem;
    }
  
    .align-middle {
        color: #007bff !important;
        text-decoration: none;
        background-color: transparent;
    }
    
    .navbar {
        background-color: #e7e7e7;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
    
    .breadcrumb {
        margin-bottom: 0rem;
    }
  
    .shadow-sm {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
    
  </style>
  