
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <!-- <a href="/" class="app-brand-link gap-2"> -->
      <!-- <img class="mb-4" src="{{ url_for('static', filename='img/ClusterVisionlogo.svg') }}" alt="" width="100" height="100"> -->
      <br />
      <br />
      <br />
      <br />
      <br />
      <center><h5 class="app-brand-text demo text-body fw-bolder">Rack Manage</h5></center> 
    <!-- </a> -->
    <!-- <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a> -->
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
      <a href="/" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Home</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/manage/site" class="menu-link">
        <i class="menu-icon tf-icons bx bx-hive"></i>
        <div data-i18n="Analytics">Manage Sites</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/manage/room" class="menu-link">
        <i class="menu-icon tf-icons bx bx-customize"></i>
        <div data-i18n="Analytics">Manage Rooms</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/manage/rack" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-component"></i>
        <div data-i18n="Analytics">Manage Racks</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/manage/inventory" class="menu-link">
        <i class="menu-icon tf-icons bx bx-chip"></i>
        <div data-i18n="Analytics">Manage Inventories</div>
      </a>
    </li>

    <!-- <li class="menu-header small text-uppercase"><span class="menu-header-text">Visual Representation</span></li>

    <li class="menu-item open active">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bxl-react"></i>
        <div data-i18n="Account Settings">View</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/view/sites" class="menu-link">
            <div data-i18n="Account">Site</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/view/rooms" class="menu-link">
            <div data-i18n="Account">Room</div>
          </a>
        </li>
        <li class="menu-item active">
          <a href="/view/racks" class="menu-link">
            <div data-i18n="Account">Racks</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/view/devices" class="menu-link">
            <div data-i18n="Account">Devices</div>
          </a>
        </li>
      </ul>
    </li> -->

  </ul>
</aside>
