{% extends "layout/base.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Manage /</span> {{ page }}</h4>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% if data %}
<div class="row">
  <div class="col-xxl">
    <div class="card mb-4">
      <h5 class="card-header">List of all {{ page }}{% if page != "Inventory" %} <span><a style="float: right;" href="{{ url_for('edit', page=page) }}" class="btn btn-success">Add New {{ page }}</a></span>{% endif %}</h5>
      <div class="card-body">
        <div class="table-responsive text-nowrap">{{ data  | safe }}</div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-xxl">
    <div class="card mb-4">
      <h5 class="card-header">List of all {{ page }} <span><a style="float: right;" href="{{ url_for('home') }}" class="btn btn-success">Add New {{ page }}</a></span></h5>
      <div class="card-body">
        <center>No {{ page }} is Available.</center>
      </div>
    </div>
  </div>
</div>
{% endif %}
</div>
<hr class="my-5" />

{% endblock content %}
