{% extends "layout/base.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Rack /</span> Position</h4>
  {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<style>
  .red-cell {
    background: #F00; /* Or some other color */
  }
</style>


<style>
  .node{
    background-color: #b3b3b4;
    color: #fff;
  }
  .switch{
    background-color: #5e6061;
    color: #fff;
  }
  .otherdev{
    background-color: #383736;
    color: #fff;
  }
  </style>
  <style>
    .rack {
      width: 220px; height: 400px; padding: 0.5em; float: left; margin: 10px;
      border: 1px solid #696cff;
      min-height: 20px;
      list-style-type: none;
      padding: 5px 0 0 0;
      float: left;
      margin-right: 10px;
    }
  </style>
<div class="row">
  <!-- Basic Layout -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Rack Position</h5>
        <small class="text-muted float-end">Change Position here...</small>
      </div>
      <div class="card-body">
     
        {% if rack_data %}
        <div class="row">
          {% for rack, devices in rack_data.items() %}
          <div class="col col-2">
            <center><h5 style="margin-bottom: 0;">{{ rack.capitalize() }}</h5></center>
            <ul id="{{ rack }}" class="connectedSortable rack">
              {% for device in devices %}
              <style>
                #{{ device }} {
                  width: 200px;  padding: 0.5em; float: left; margin: 5px 5px 5px 5px;
                  {% if 'node' in device%}
                    height: 50px;
                    {% elif 'switch' in device%}
                    height: 100px;
                    {% else %}
                    height: 150px;
                  {% endif %}
                  padding: 5px;
                  border: 1px solid #e83e8c;
                  font-size: 1.2em;
                }
              </style>
                <li id="{{ device }}" class="ui-state-default  {% if 'node' in device%}node{% elif 'switch' in device%}switch{% else %}otherdev{% endif %}">{{ device.upper() }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>




        {% else %}
          <div class="alert alert-error" role="alert">No Rack is available to manage.</div>
        {% endif %} 
   
      </div>
    </div>
  </div>
</div>












  <style>
  .draggable {  width: 200px; height: 30px; padding: 0.5em; float: left; margin: 5px 5px 5px 5px; }
  .draggable-xl {  width: 200px; height: 60px; padding: 0.5em; float: left; margin: 5px 5px 5px 5px; }
  .draggable-xxl {  width: 200px; height: 90px; padding: 0.5em; float: left; margin: 5px 5px 5px 5px; }
  .snaptarget p, .ui-widget-content p { margin: 0; }
  .snaptarget {width: 220px; height: 30px; }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#draggable" ).draggable({ snap: ".snaptarget" });
    $( "#draggable1" ).draggable({ snap: ".snaptarget" });
    $( "#draggable2" ).draggable({ snap: ".snaptarget" });
    $( "#draggable3" ).draggable({ snap: ".snaptarget" });
    $( "#draggable4" ).draggable({ snap: ".snaptarget" });
    $( "#draggable5" ).draggable({ snap: ".snaptarget" });
    $( "#draggable6" ).draggable({ snap: ".snaptarget" });
    $( "#draggable7" ).draggable({ snap: ".snaptarget" });
    $( "#draggable8" ).draggable({ snap: ".snaptarget" });

    $( ".droppable" ).droppable({
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      drop: function( event, ui ) {
        console.log(ui);
        if ($(this).attr("class").includes("ui-state-highlight") ){
          console.log("Already Dropped");
          console.log(ui);
          $( "#draggable1" ).draggable({ revert: "valid"});
        } else {
          console.log("Dropped Empty");
        }

        $(this).addClass( "ui-state-highlight" ).find( "p" ).html( "Dropped!" );
        // console.log($( this ));
        // console.log(event);
        // console.log(ui);
        // $( ".droppable" ).droppable( "disable" );
       
      }
      
    });


  } );

  
  </script>



<div class="row">
  <!-- Basic Layout -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Rack Position</h5>
        <small class="text-muted float-end">Change Position here...</small>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col col-2">

            <div id="draggable" class="draggable ui-widget-content"><p>Regular Size Node001</p></div>
            <div id="draggable1" class="draggable ui-widget-content"><p>Regular Size Node002</p></div>
            <div id="draggable2" class="draggable ui-widget-content"><p>Regular Size Node003</p></div>

            <div id="draggable3" class="draggable-xl ui-widget-content"><p>Large Size GPU001</p></div>
            <div id="draggable4" class="draggable-xl ui-widget-content"><p>Large Size GPU002</p></div>
            <div id="draggable5" class="draggable-xl ui-widget-content"><p>Large Size GPU003</p></div>

            <div id="draggable6" class="draggable-xxl ui-widget-content"><p>Extra Large Size Switch001</p></div>
            <div id="draggable7" class="draggable-xxl ui-widget-content"><p>Extra Large Size Switch002</p></div>
            <div id="draggable8" class="draggable-xxl ui-widget-content"><p>Extra Large Size Switch003</p></div>

          </div>

          
          <div class="col col-2">
            {% for each in range(rack_size+1) %}
            <div id="snaptarget" class="ui-widget-header droppable snaptarget">
              <p>RACK 1 Position {{ each }}</p>
            </div>
            {% endfor %}
          </div>

          <div class="col col-2">
            {% for each in range(rack_size+1) %}
            <div id="snaptarget" class="ui-widget-header droppable snaptarget">
              <p>RACK 2 Position {{ each }}</p>
            </div>
            {% endfor %}
          </div>

          <div class="col col-2">
            {% for each in range(rack_size+1) %}
            <div id="snaptarget" class="ui-widget-header droppable snaptarget">
              <p>RACK 3 Position {{ each }}</p>
            </div>
            {% endfor %}
          </div>

          <div class="col col-2">
            {% for each in range(rack_size+1) %}
            <div id="snaptarget" class="ui-widget-header droppable snaptarget">
              <p>RACK 4 Position {{ each }}</p>
            </div>
            {% endfor %}
          </div>

          <div class="col col-2">
            {% for each in range(rack_size+1) %}
            <div id="snaptarget" class="ui-widget-header droppable snaptarget">
              <p>RACK 5 Position {{ each }}</p>
            </div>
            {% endfor %}
          </div>



    </div>
        <br style="clear:both">
       
        
         
   
      </div>
    </div>
  </div>
</div>




</div>











<hr class="my-5" />
{% endblock content %}

