{% extends "layout/base.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Rack /</span> Position</h4>
  {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

  <style>
  .manage{ position: absolute; z-index: 100; }
  .draggable {  width: 200px; height: 30px; }
  .snaptarget {width: 220px; height: 30px; }
  #devices {width: 100%; height: 300px; background-color: antiquewhite;
    /*   display: flex;   position: absolute;
    justify-content: space-between; */
  }

  .ui-state-hover {
    border: 1px solid #cccccc;
    background: #067a19;
    font-weight:bolder;
    color: #ffffff;
}
  </style>
  
  <style>
    .scrollmenu {
      /*  overflow: auto;*/
      /*    overflow-y: auto; */
     
     overflow-x: auto;white-space: nowrap;
    }
    
    .right-click {
      display: inline-block;
      text-align: center;
    }
    
    </style>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

 

<div class="row">
  <!-- Basic Layout -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Rack Position</h5>
        <small class="text-muted float-end">Change Position here...</small>
      </div>
      <div class="card-body">

        <div id="inventory">
          <div class="row">
            <div class="col col-6"><strong>Available Devices to put in Rack(s) </strong></div>
            <div class="col col-6">
              <button style="float: right;" id="show-button" type="button" onclick="$('#devices').show();$('#show-button').hide();$('#hide-button').show();" class="btn btn-sm btn-info">Show Devices</button>
              <button style="float: right;" id="hide-button" type="button" onclick="$('#devices').hide();$('#show-button').show();$('#hide-button').hide();" class="btn btn-sm btn-warning">Hide Devices</button>
            </div>
          </div>
          <br />
          <div id="devices" class=" ui-widget-header scrollmenu snaptarget">
            {% if rack_data %}
              {% for key, value in rack_data.items() %}
                {% for each in value['devices'] %}
                  <div id="{{ each['name'] }}" style="height: {{ each['height']*30-2 }}px;"  class="draggable ui-widget-content right-click " size="{{ each['height'] }}" ><strong>{{ each['name'] }}</strong></div>
                  <script type="text/javascript">
                    $(function(){
                      $("#{{ each['name'] }}").draggable({
                        revert: function() { if ($(this).hasClass('drag-revert')) { $(this).removeClass('drag-revert'); return true; } },
                        cursor: "move", scroll: true,
                        snap: ".snaptarget"
                      }); 
                    });
                  </script>
                {% endfor %}
              {% endfor %}
            {% endif %}
          </div>
          <br />
        </div>
    
        <div class="row">
          
          <div class="col col-1" style="width: 2%; height: 1%;">
            <div class="ui-widget-header snaptarget"><p>U</p></div>
            {% for each in range(rack_size+1) %}
            <div class="ui-widget-header  snaptarget">
              <p>{{ each }}</p>
            </div>
            {% endfor %}
          </div>


          {% if rack_data %}
            {% for key, value in rack_data.items() %}
            <div class="col col-2">
              <div class="ui-widget-header snaptarget"><p>{{ key }}</p></div>
                {% for each in range(value["size"]+1) %}
                <div id="snaptarget" class="ui-widget-header droppable snaptarget"><p>Empty Slot</p>
                  <!-- <div id="node001{{each}}" style="height: 28px; position: relative; left: 2px; top: -40px;" class="draggable ui-widget-content right-click ui-draggable ui-draggable-handle" size="1"><strong>node001</strong></div>
                  <script type="text/javascript">
                    $(function(){
                      $("#{{ each['name'] }}").draggable({
                        revert: function() { if ($(this).hasClass('drag-revert')) { $(this).removeClass('drag-revert'); return true; } },
                        cursor: "move", scroll: true,
                        snap: ".snaptarget"
                      }); 
                    });
                  </script> -->
                </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div> 
          {% endif %}

      
        </div>
        <br style="clear:both">

      </div>
    </div>
  </div>
</div>

</div>

<hr class="my-5" />

<script>


  $( function() {
    $( "#devices" ).droppable({
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      
      drop: function( event, ui ) {
       
          if ($(ui.draggable).parent().attr("class").includes("ui-state-highlight")){
            $(ui.draggable).parent().removeClass( "ui-state-highlight" ).find( "p" ).html( "Empty Slot" );
            $(ui.draggable).parent().nextAll().slice(0,$(ui.draggable).attr("size")-1).removeClass( "ui-state-highlight" ).find( "p" ).html( "Empty Slot" );
            console.log("YES");
          } else {
            console.log("NO");
          }


      }
    });
  });




  $( function() {
    $( ".droppable" ).droppable({
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      
      drop: function( event, ui ) {

       
    
        if ($(this).attr("class").includes("ui-state-highlight") ){
          $(ui.draggable).addClass('drag-revert');

        }
        else if ($(this).nextAll().slice(0,$(ui.draggable).attr("size")).length != $(ui.draggable).attr("size")){
          $(ui.draggable).addClass('drag-revert'); //ui.draggable.animate(ui.draggable.data("origPosition"),"slow");
        }

        else if ($(this).nextAll().slice(0,$(ui.draggable).attr("size")).hasClass("ui-state-highlight") ){
          $(ui.draggable).addClass('drag-revert'); //ui.draggable.animate(ui.draggable.data("origPosition"),"slow");
        }
        else{

          if ($(ui.draggable).parent().attr("class").includes("ui-state-highlight")){
            $(ui.draggable).parent().removeClass( "ui-state-highlight" ).find( "p" ).html( "Empty Slot" );
            $(ui.draggable).parent().nextAll().slice(0,$(ui.draggable).attr("size")-1).removeClass( "ui-state-highlight" ).find( "p" ).html( "Empty Slot" );
            console.log("YES");
          } else {
            console.log("NO");
          }

          console.log($(ui.draggable.parent()));
          $(ui.draggable).detach().css({top: -40,left: 2}).appendTo(this);
        
          
          $(this).addClass( "ui-state-highlight" ).find( "p" ).html( "Occupied" );
          $(this).nextAll().slice(0,$(ui.draggable).attr("size")-1).addClass( "ui-state-highlight" ).find( "p" ).html( "Occupied" );
          
        }

      }
    });
  });

  </script>

 
  <!-- <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script src="{{ url_for('static', filename='js/jquery.contextmenu.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.contextmenu.css') }}">
  <script>
    var jQuery_1_6_2 = $.noConflict(true); // Resolving Conflict Between JQuery Versions - Sumit Sharma
    jQuery_1_6_2(function() {
      jQuery_1_6_2('.right-click').contextPopup({
        title: 'My Popup Menu',
        items: [
          {label:'Detail',     icon:'icons/shopping-basket.png',             action:function() { alert('clicked 1') } },
          {label:'Edit', icon:'icons/receipt-text.png',                action:function() { alert('clicked 2') } },
          {label:'Clone',     icon:'icons/book-open-list.png',              action:function() { alert('clicked 3') } },
          null, // divider
          {label:'Delete',         icon:'icons/application-monitor.png',         action:function() { alert('clicked 4') } },
          {label:'Power ON',        icon:'icons/bin-metal.png',                   action:function() { alert('clicked 5') } },
          {label:'Power OFF',         icon:'icons/magnifier-zoom-actual-equal.png', action:function() { alert('clicked 6') } },
          null, // divider
          {label:'Power Reset',       icon:'icons/application-table.png',           action:function() { alert('clicked 7') } },
          {label:'Power Status',      icon:'icons/cassette.png',                    action:function() { alert('clicked 8') } }
        ]
      });
    });
  </script> -->
  

{% endblock content %}
