{% extends "layout/base.html" %}
{% block content %}

<div class="container-fluid flex-grow-1 container-p-y">
  <div id="ajax"></div>
  {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
      
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.js') }}"></script>
  
  <div id="rack-toast" class="bs-toast toast toast-placement-ex m-2 fade  bg-success top-0 end-0 hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
    <div class="toast-header">
      <i class="bx bx-bell me-2"></i>
      <div class="me-auto fw-medium">Rack Update</div>
      <small>0 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
  </div>

  <div id="rack-remove-toast" class="bs-toast toast toast-placement-ex m-2 fade bg-danger top-0 end-0 hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
    <div class="toast-header">
      <i class="bx bx-bell me-2"></i>
      <div class="me-auto fw-medium">Rack Update</div>
      <small>0 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
  </div>

  <div class="card mb-4">

    <div class="card-header">
    <!-- <div class="card-header d-flex align-items-center justify-content-between"> -->

      <div class="row" style="flex-wrap: wrap !important;">
        <div class="col col-2">
          {% if metric %}
          <div class="dropdown">
            <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Metric</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item set-text" href="#" data-target="no_scale">No Scale</a>
              <a class="dropdown-item set-text" href="#" data-target="temp_scale">Temperature</a>
              <a class="dropdown-item set-text" href="#" data-target="load_scale">System Load</a>
              <a class="dropdown-item set-text" href="#" data-target="power_scale">Power Consumption</a>
            </div>
          </div>
          {% endif %}
        </div>


        <div class="col col-5">
          <div id="no_scale" style="display: none;"></div>
          <div id="temp_scale" style="display: none;">
            <span style="display: inline-block;">0C </span>
            <span class="grad" style="display: inline-block;">&nbsp;</span>
            <span style="display: inline-block;"> 90 C</span>
          </div>
          <div id="load_scale" style="display: none;">
            <span style="display: inline-block;">0 </span>
            <span class="grad" style="display: inline-block;">&nbsp;</span>
            <span id="max_load" style="display: inline-block;"> 100</span>
          </div>
          <div id="power_scale" style="display: none;">
            <span style="display: inline-block;">0 Watt </span>
            <span class="grad" style="display: inline-block;">&nbsp;</span>
            <span id="max_power" style="display: inline-block;"> 200 watt</span>
          </div>
          
        </div>

        <div class="col col-3"></div>

        <div class="col col-2" style="float: right;">
          {% if rack_data %}
            <button style="float: right;" id="front-button" class="btn btn-sm btn-secondary" type="button" onclick="$('.front').show();$('.back').hide();$('#front-button').hide();$('#back-button').show();">Flip to Front View</button>
            <button style="float: right;" id="back-button" class="btn btn-sm btn-dark" type="button" onclick="$('.back').show();$('.front').hide();$('#front-button').show();$('#back-button').hide();">Flip to Back View</button>
          {% endif %}
        </div>

      </div>
    </div>


    <div class="card-body">
      {% if rack_data %}
        {% for key, value in rack_data.items() %}

          <div class="playground front" id="{{ key }}front">
            {% set rack_order = value['order'] | string() %}
            {% if rack_order == 'ascending' %}
              {% set rack_slots = range(1, value["size"]+1) %}
            {% else %}
              {% set rack_slots = range(value["size"], 0, -1) %}
            {% endif %}
            <div class="row"><div class="rack-base-front"><strong>&nbsp;</strong></div></div>
            <div class="row">
              <div class="rack-pillar-front"></div>
              <div class="rack-unit"><strong>U</strong></div>
              <div class="rack-name-front">
                <span style="display: flex; align-items: center; justify-content: space-between;">
                  <strong>{{ key }} Front</strong>
                  <div class="dropdown">
                    <button class="btn btn-warning btn-xs dropdown-toggle rack_button" type="button" id="power_{{ key }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Power</button>
                    <div class="dropdown-menu" aria-labelledby="power_{{ key }}">
                      <a class="dropdown-item rack_power" href="#" data-target="on$${{ key }}">Power ON</a>
                      <a class="dropdown-item rack_power" href="#" data-target="off$${{ key }}">Power OFF</a>
                      <a class="dropdown-item rack_power" href="#" data-target="reset$${{ key }}">Reset</a>
                    </div>
                  </div>
                  <button style="float: right;" onclick="extendview({{ key }}back);" class="btn btn-xs btn-dark rack_button" type="button">Back</button>
                </span>
              </div>
              <div class="rack-unit"><strong>U</strong></div>
              <div class="rack-pillar-front"></div>
            </div>
            
            {% for each in rack_slots %}
              {% set each_string = each | string() %}
              <div class="row">
                <div class="rack-pillar-front"></div>
                <div class="rack-unit"><strong>{{ each_string.zfill(2) }}</strong></div>
                <div class="rack-slot ui-widget-header droppable snaptarget ui-droppable {{ each }}-{{ key }}" rack="{{ key }}" slot="{{ each }}" id="{{ each }}-{{ key }}front">
                  <input type="hidden" name="rack" value="{{ key }}" />
                  <input type="hidden" name="position" value="{{ each }}" />
                  <input type="hidden" name="orientation" value="front" />
                  <input type="hidden" name="order" value="{{ rack_order }}" />
                  {% for each_device in value['devices'] %}
                    {% if each_device['orientation'] == 'front' %}
                      {% if each_device['position'] == each  %}
                        {% if each_device['type'] == "switch" %}
                          {% set vendor = "switch" %}
                        {% else %}
                          {% if each_device['vendor'] is none or each_device['vendor'] == '' or each_device['vendor'] == "None" or not each_device['vendor'] %}
                            {% set vendor = "default" %}
                          {% else %}
                            {% if each_device['vendor'].lower() is not in ["dell", "hp", "lenovo", "gigabyte", "supermicro", "asus"] %}
                              {% set vendor = "noname" %}
                            {% else %}
                              {% set vendor = each_device['vendor'].lower() %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                        
                        {% if vendor == "noname" %}
                            {% set image_class = "noname" %}
                        {% elif vendor == "default" %}
                            {% set image_class = "default" %}
                        {% elif vendor == "switch" %}
                            {% set image_class = "switch" %}
                        {% else %}
                            {% set image_class = vendor +"-" + each_device['height'] | string() %}
                        {% endif %}

                        <div
                          id="{{ each_device['name'] }}"
                          class="draggable ui-widget-content right-click {{ image_class }}"
                          image_class="{{ image_class }}"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          data-bs-placement="top"
                          title="<strong>{{ each_device['type'] }}:</strong> {{ each_device['name'] }}"
                          size="{{ each_device['height'] }}"
                          >
                          <script type="text/javascript">
                            var screen_height = Number("{{ each_device['height'] }}")*Number(sendScreenSize().height)-2;
                            screen_height = screen_height;
                            $("#{{ each_device['name'] }}").css('height', screen_height);
                          </script>
                          <input type="hidden" name="type" value="{{ each_device['type'] }}" />

                          <p class="color_metric" style="float: right;" >
                            <code class="temperature-{{ each_device['name'] }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"></code>
                            <code class="power-{{ each_device['name'] }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"></code>
                            <code class="load-{{ each_device['name'] }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"></code>
                          </p>

                          <span id="dev-name">{{ each_device['name'] }}</span>
                          <script type="text/javascript">
                            $(function(){
                              var orientation = $("#{{ each_device['name'] }}").parent().find("input[name='orientation']").val();
                              var device_height = Number("{{ each_device['height'] }}");
                              var device_position = Number("{{ each }}");
                              var rack_order = $("#{{ each_device['name'] }}").parent().find("input[name='order']").val();
                              var rack_name = $("#{{ each_device['name'] }}").parent().find("input[name='rack']").val();
                              if (orientation == 'front'){
                                var total_elements = Number($("#"+device_position+"-"+rack_name+"front").find("div").length);
                                var each_width = sendScreenSize().width / total_elements;
                                each_width = String(each_width-total_elements-2)+'px';
                                if (total_elements != 1){ $("#"+device_position+"-"+rack_name+"front").find("span").hide(); } else { $("#"+device_position+"-"+rack_name+"front").find("span").show(); }
                                $("#"+device_position+"-"+rack_name+"front").find("div").css('width', each_width);
                                for (let index = 0; index < device_height; index++) {
                                  if (rack_order == 'ascending'){
                                    var slot = Number(device_position+index);
                                  } else {
                                    var slot = Number(device_position-index);
                                  }
                                  $("#"+slot+"-"+rack_name+"front").addClass("ui-state-highlight");
                                }
                              }

                              $("#{{ each_device['name'] }}").draggable({
                                containment: ".layout-container",
                                start: function(event, ui) { 
                                  source_rack = $(this).parent().attr('rack');
                                  source_slot = $(this).parent().attr('slot');
                                  source_orientation = $("#{{ each_device['name'] }}").parent().find("input[name='orientation']").val();
                                  rack_order = $("#{{ each_device['name'] }}").parent().find("input[name='order']").val();
                                  if ($(this).attr("size") > 1){
                                    $(this).parent().parent().nextAll().add($(this).parent().parent()).slice(0, $(this).attr("size")).find('.rack-slot').removeClass("ui-state-highlight");
                                  } else {
                                    $(this).parent().removeClass("ui-state-highlight");
                                  }
                                  $(this).css("z-index", 999999999);
                                },
                                revert: function() {
                                  if (!$(this).parent().attr("id").includes("devices")){
                                    if ($(this).attr("size") > 1){
                                      $(this).parent().parent().nextAll().add($(this).parent().parent()).slice(0, $(this).attr("size")).find('.rack-slot').addClass("ui-state-highlight");
                                    } else {
                                      $(this).parent().addClass("ui-state-highlight");
                                    }
                                  }
                                  if ($(this).hasClass('drag-revert')) { $(this).removeClass('drag-revert'); return true; } 
                                  $(this).css("z-index", "");
                                },
                                stop: function(event, ui) { 
                                  $(this).css("z-index", "");
                                },
                                cursor: "move",
                                scroll: true,
                                snap: ".snaptarget"
                              }); 
                            });
                          </script>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                    
                </div>
                <div class="rack-unit"><strong>{{ each_string.zfill(2) }}</strong></div>
                <div class="rack-pillar-front"></div>
              </div>
            {% endfor %}
            
            <div class="row"><div class="rack-base-front"><strong>&nbsp;</strong></div></div>
          </div>
          
          <div class="playground back" id="{{ key }}back">
            {% set rack_order = value['order'] | string() %}
            {% if rack_order == 'ascending' %}
              {% set rack_slots = range(1, value["size"]+1) %}
            {% else %}
              {% set rack_slots = range(value["size"], 0, -1) %}
            {% endif %}
            <div class="row"><div class="rack-base"><strong>&nbsp;</strong></div></div>
              <div class="row">
                <div class="rack-pillar"></div>
                <div class="rack-unit"><strong>U</strong></div>
                <div class="rack-name">
                  <span style="display: flex; align-items: center; justify-content: space-between;">
                    <strong>{{ key }} Back</strong>
                    <div class="dropdown">
                      <button class="btn btn-warning btn-xs dropdown-toggle rack_button" type="button" id="power_{{ key }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Power</button>
                      <div class="dropdown-menu" aria-labelledby="power_{{ key }}">
                        <a class="dropdown-item rack_power" href="#" data-target="on$${{ key }}">Power ON</a>
                        <a class="dropdown-item rack_power" href="#" data-target="off$${{ key }}">Power OFF</a>
                        <a class="dropdown-item rack_power" href="#" data-target="reset$${{ key }}">Reset</a>
                      </div>
                    </div>
                    <button   style="float: right;" onclick="extendview({{ key }}front);" class="btn btn-xs btn-secondary rack_button" type="button">Front</button>
                  </span>
                </div>
                <div class="rack-unit"><strong>U</strong></div>
                <div class="rack-pillar"></div>
              </div>
              
              {% for each in rack_slots %}
                {% set each_string = each | string() %}
                <div class="row">
                  <div class="rack-pillar"></div>
                  <div class="rack-unit"><strong>{{ each_string.zfill(2) }}</strong></div>
                  <div class="rack-slot ui-widget-header droppable snaptarget ui-droppable {{ each }}-{{ key }}" rack="{{ key }}" slot="{{ each }}" id="{{ each }}-{{ key }}back">
                    <input type="hidden" name="rack" value="{{ key }}" />
                    <input type="hidden" name="position" value="{{ each }}" />
                    <input type="hidden" name="orientation" value="back" />
                    <input type="hidden" name="order" value="{{ rack_order }}" />
                      
                    {% for each_device in value['devices'] %}
                      {% if each_device['orientation'] == 'back' %}
                        {% if each_device['position'] == each  %}
                          {% if each_device['type'] == "switch" %}
                            {% set vendor = "switch" %}
                          {% else %}
                            {% if each_device['vendor'] is none or each_device['vendor'] == '' or each_device['vendor'] == "None" or not each_device['vendor'] %}
                              {% set vendor = "default" %}
                            {% else %}
                              {% if each_device['vendor'].lower() is not in ["dell", "hp", "lenovo", "gigabyte", "supermicro", "asus"] %}
                                {% set vendor = "noname" %}
                              {% else %}
                                {% set vendor = each_device['vendor'].lower() %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                          {% if vendor == "noname" %}
                            {% set image_class = "noname" %}
                          {% elif vendor == "default" %}
                            {% set image_class = "default" %}
                          {% elif vendor == "switch" %}
                            {% set image_class = "switch" %}
                          {% else %}
                            {% set image_class = vendor +"-" + each_device['height'] | string() %}
                          {% endif %}

                          <div
                            id="{{ each_device['name'] }}"
                            class="draggable ui-widget-content right-click {{ image_class }}"
                            image_class="{{ image_class }}"
                            data-bs-toggle="tooltip"
                            data-bs-html="true"
                            data-bs-placement="top"
                            title="<strong>{{ each_device['type'] }}:</strong> {{ each_device['name'] }}"
                            size="{{ each_device['height'] }}"
                            >
                            <script type="text/javascript">
                              var screen_height = Number("{{ each_device['height'] }}")*Number(sendScreenSize().height)-2;
                              screen_height = screen_height;
                              $("#{{ each_device['name'] }}").css('height', screen_height);
                            </script>
                            <input type="hidden" name="type" value="{{ each_device['type'] }}" />
                            <span id="dev-name">{{ each_device['name'] }}</span>

                            <p class="color_metric" style="float: right;">
                              <code class="temperature-{{ each_device['name'] }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"></code>
                              <code class="power-{{ each_device['name'] }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"></code>
                              <code class="load-{{ each_device['name'] }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"></code>
                            </p>


                            <script type="text/javascript">
                              $(function(){
                                var orientation = $("#{{ each_device['name'] }}").parent().find("input[name='orientation']").val();
                                var device_height = Number("{{ each_device['height'] }}");
                                var device_position = Number("{{ each }}");
                                var rack_order = $("#{{ each_device['name'] }}").parent().find("input[name='order']").val();
                                var rack_name = $("#{{ each_device['name'] }}").parent().find("input[name='rack']").val();
                                if (orientation == 'back'){
                                  var total_elements = Number($("#"+device_position+"-"+rack_name+"back").find("div").length);
                                  var each_width = sendScreenSize().width / total_elements;
                                  each_width = String(each_width-total_elements-2)+'px';
                                  if (total_elements != 1){ $("#"+device_position+"-"+rack_name+"back").find("span").hide(); } else { $("#"+device_position+"-"+rack_name+"back").find("span").show(); }
                                  $("#"+device_position+"-"+rack_name+"back").find("div").css('width', each_width);
                                  for (let index = 0; index < device_height; index++) {
                                    if (rack_order == 'ascending'){
                                      var slot = Number(device_position+index);
                                    } else {
                                      var slot = Number(device_position-index);
                                    }
                                    $("#"+slot+"-"+rack_name+"back").addClass("ui-state-highlight");
                                  }
                                }
  
                                $("#{{ each_device['name'] }}").draggable({
                                  containment: ".layout-container",
                                  start: function(event, ui) { 
                                    source_rack = $(this).parent().attr('rack');
                                    source_slot = $(this).parent().attr('slot');
                                    source_orientation = $("#{{ each_device['name'] }}").parent().find("input[name='orientation']").val();
                                    rack_order = $("#{{ each_device['name'] }}").parent().find("input[name='order']").val();
                                    if ($(this).attr("size") > 1){
                                      $(this).parent().parent().nextAll().add($(this).parent().parent()).slice(0, $(this).attr("size")).find('.rack-slot').removeClass("ui-state-highlight");
                                    } else {
                                      $(this).parent().removeClass("ui-state-highlight");
                                    }
                                  },
                                  revert: function() {
                                    if (!$(this).parent().attr("id").includes("devices")){
                                      if ($(this).attr("size") > 1){
                                        $(this).parent().parent().nextAll().add($(this).parent().parent()).slice(0, $(this).attr("size")).find('.rack-slot').addClass("ui-state-highlight");
                                      } else {
                                        $(this).parent().addClass("ui-state-highlight");
                                      }
                                    }
                                    if ($(this).hasClass('drag-revert')) { $(this).removeClass('drag-revert'); return true; } 
                                  },
                                  stop: function(event, ui) { },
                                  cursor: "move",
                                  scroll: true,
                                  snap: ".snaptarget"
                                }); 
                              });
                            </script>
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="rack-unit"><strong>{{ each_string.zfill(2) }}</strong></div>
                  <div class="rack-pillar"></div>
                </div>
              {% endfor %}
              <div class="row"><div class="rack-base"><strong>&nbsp;</strong></div></div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<hr class="my-5" />

<script type="text/javascript">
  function extendview(id){
    $(id).toggle();
  }
</script>

<script type="text/javascript">
  $(function() {
    $(".revert-back").droppable({
      drop: function(event, ui) {
        $(ui.draggable).addClass('drag-revert');
      }
    });
  });
</script>

<script type="text/javascript">
  function update(name=null, type=null, rack=null, position=null, orientation=null, height=null){
    var response;
    var payload = {"name": name, "type": type, "rack": rack, "position": position, "orientation": orientation, "height": height};
    payload = JSON.stringify(payload);
    $.ajax({
        url: window.location.href+"/update",
        type: 'POST',
        data: JSON.stringify(payload),
        dataType: 'json',
        contentType: 'application/json; charset=UTF-8',
        async: false,
        success: function(response_data) {
            response = response_data
        }
    });
    return response;
  }
</script>

 <script type="text/javascript">
  $( function() {
    $("#devices").droppable({
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      drop: function( event, ui ) {
        var orientation = $(ui.draggable).parent().find("input[name='orientation']").val();
        var rack_order = $(ui.draggable).parent().find("input[name='order']").val();
        var source_items = Number($("#"+source_slot+"-"+source_rack+source_orientation).children("div").length);
        $(ui.draggable).removeClass('drag-revert');
        $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
        var draggable_size = Number($(ui.draggable).attr("size"));
        var source_items = Number($("#"+source_slot+"-"+source_rack+orientation).children("div").length);
        if (source_items == 0){
          for (let index = 0; index < draggable_size; index++) {
            if (rack_order == 'ascending'){
              var slot = Number(source_slot)+index;
            } else {
              var slot = Number(source_slot)-index;
            }
            $("#"+slot+"-"+source_rack+orientation).removeClass("ui-state-highlight");
          }
        } else {
          var each_width = sendScreenSize().width / source_items;
          each_width = String(each_width-source_items-2)+'px';
          if (source_items != 1){ $("#"+source_slot+"-"+source_rack+orientation).find("span").hide(); } else { $("#"+source_slot+"-"+source_rack+orientation).find("span").show(); }
          $("#"+source_slot+"-"+source_rack+orientation).find("div").css('width', each_width);
          $(ui.draggable).css('width', '218px');
          $(ui.draggable).find("span").show();
          for (let index = 0; index < draggable_size; index++) {
            if (rack_order == 'ascending'){
              var slot = Number(source_slot)+index;
            } else {
              var slot = Number(source_slot)-index;
            }
            $("#"+slot+"-"+source_rack+orientation).addClass("ui-state-highlight");
          }
        }
        var name = $(ui.draggable).attr('id');
        var type = $(ui.draggable).find("input[name='type']").val();
        var rack = $(this).find("input[name='rack']").val();
        var orientation = $(this).find("input[name='orientation']").val();
        var position = null;
        var height = $(ui.draggable).attr("size");
        var result = update(name, type, rack, position, orientation);
        $(".toast-body").html();
        $(".toast-body").html(name + " Removed from Rack.");
        $("#rack-remove-toast").toast("show");
      }
    });
  });
</script>



<script type="text/javascript">
  $(function() {
    $(".droppable").droppable({
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      drop: function(event, ui) {
        var dropped;
        var draggable_size = Number($(ui.draggable).attr("size"));
        var owner_draggable_size = Number($(this).parent().prevAll().children().children("div.draggable:first").attr("size"));
        var next_slot_count = Number($(this).parent().nextAll().length);
        var exact_div = $(this).parent().prevAll().children().children("div.draggable:first").parent();
        var big_element = Number($(this).find("div").attr("size"));
        var position = Number($(this).attr("slot"));

        if (next_slot_count < draggable_size){
          $(ui.draggable).addClass('drag-revert');
        } else {
          if ($(this).attr("class").includes("ui-state-highlight") && (Number($(this).children("div.draggable:first").length) == 0)){
            console.log("When has class, but don't have draggable.");
            if(draggable_size > owner_draggable_size){
              $(ui.draggable).addClass('drag-revert');
              console.log("When draggable is bigger then owner.");
            } else {
              $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(exact_div);
              $(ui.draggable).css('height', owner_draggable_size*Number(sendScreenSize().height)-2);
              $(ui.draggable).attr("size", owner_draggable_size);
              
              var total_elements = Number(exact_div.find("div").length);
              var each_width = sendScreenSize().width / total_elements;
              each_width = String(each_width-total_elements-2)+'px';
              if (total_elements != 1){ exact_div.find("span").hide(); } else { exact_div.find("span").show(); }
              exact_div.find("div").css('width', each_width);
              dropped = true;
              position = Number(exact_div.attr("slot"));
              console.log("When draggable is not bigger then owner [FIRST].");

            }

          } else {
            console.log("When has class, but have draggable. "+ draggable_size);
           
            if (draggable_size > 1){
              
              if (Number.isNaN(big_element)){
                if ($(this).parent().nextAll().add($(this).parent()).slice(0, draggable_size).find('.rack-slot').hasClass("ui-state-highlight")){
                  if (!$(this).hasClass("ui-state-highlight")){
                    $(ui.draggable).addClass('drag-revert');
                  } else if (owner_draggable_size >= draggable_size){
                    $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(exact_div);
                    $(ui.draggable).css('height', owner_draggable_size*Number(sendScreenSize().height)-2);
                    $(ui.draggable).attr("size", owner_draggable_size);
                    var total_elements = Number(exact_div.find("div").length);
                    var each_width = sendScreenSize().width / total_elements;
                    each_width = String(each_width-total_elements-2)+'px';
                    if (total_elements != 1){ exact_div.find("span").hide(); } else { exact_div.find("span").show(); }
                    exact_div.find("div").css('width', each_width);
                    dropped = true;
                    position = Number(exact_div.attr("slot"));
                  } else {
                    $(ui.draggable).addClass('drag-revert');
                    console.log("THIS IS THE FUCKING CASE "+ big_element);
                  }
                } else {
                  if ($(this).parent().nextAll().add($(this).parent()).slice(0, draggable_size).children("div.rack-slot").children("div.draggable").length){
                    if ($(ui.draggable).attr("id") == $(this).parent().nextAll().add($(this).parent()).slice(0, draggable_size).children("div.rack-slot").children("div.draggable").attr("id")){
                      var previous_ids = $(this).parent().nextAll().add($(this).parent()).slice(0, draggable_size).children("div.rack-slot").map(function() { return $(this).attr('id')});
                      if ($.inArray($(this).attr("id"), previous_ids) != -1){
                        var check = 0;
                          for (let index = 0; index < previous_ids.length; index++) {
                            check = check + Number($("#"+previous_ids[index]).children("div.draggable").length);
                          }
                        if (check <= 1) {
                          $(this).parent().nextAll().add($(this).parent()).slice(0, draggable_size).find('.rack-slot').addClass("ui-state-highlight");          
                          $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
                          $(ui.draggable).css('height', draggable_size*Number(sendScreenSize().height)-2);
                          $(ui.draggable).attr("size", draggable_size);
                          $(this).find("div").css('height', draggable_size*Number(sendScreenSize().height)-2);
                          $(this).find("div").attr("size", draggable_size);
                          dropped = true;
                          position = Number($(this).attr("slot"));
                        } else {
                          $(ui.draggable).addClass('drag-revert');
                        }
                      } else {
                        $(ui.draggable).addClass('drag-revert');
                      }
                    } else {
                      
                      $(ui.draggable).addClass('drag-revert');
                    }
                  } else {
                    
                    if (exact_div.length >= 1){
                      if (!Number($(this).parent().prevAll().add($(this).parent()).children("div.rack-slot").slice(-draggable_size).children("div.draggable").length)){
                        //if (!Number($(this).parent().prevAll().add($(this).parent()).slice(0, draggable_size).children("div.rack-slot").children("div.draggable").length)){

                        if (Number(exact_div.children("div.draggable").length) >= 1){
                          var next_ids = exact_div.parent().nextAll().add(exact_div.parent()).slice(0, Number(exact_div.children("div.draggable").attr("size"))).children("div.rack-slot").map(function() { return $(this).attr('id')});
                          if ($.inArray($(this).attr("id"), next_ids) != -1){
                            $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(exact_div);
                            $(ui.draggable).css('height', owner_draggable_size*Number(sendScreenSize().height)-2);
                            $(ui.draggable).attr("size", owner_draggable_size);
                            var total_elements = Number(exact_div.find("div").length);
                            var each_width = sendScreenSize().width / total_elements;
                            each_width = String(each_width-total_elements-2)+'px';
                            if (total_elements != 1){ exact_div.find("span").hide(); } else { exact_div.find("span").show(); }
                            exact_div.find("div").css('width', each_width);
                            dropped = true;
                            position = Number(exact_div.attr("slot"));
                          } else {
                            $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
                            $(ui.draggable).css('height', draggable_size*Number(sendScreenSize().height)-2);
                            $(ui.draggable).attr("size", draggable_size);
                            $(this).find("div").css('height', draggable_size*Number(sendScreenSize().height)-2);
                            $(this).find("div").attr("size", draggable_size);

                            dropped = true;
                            position = Number($(this).attr("slot"));
                          }
                        } else {   
                        
                          $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
                          $(ui.draggable).css('height', draggable_size*Number(sendScreenSize().height)-2);
                          $(ui.draggable).attr("size", draggable_size);
                          $(this).find("div").css('height', draggable_size*Number(sendScreenSize().height)-2);
                          $(this).find("div").attr("size", draggable_size);
                          dropped = true;
                          position = Number($(this).attr("slot"));
                        }

                      } else {

                        var previous_ids = exact_div.parent().nextAll().add(exact_div.parent()).slice(0, Number(exact_div.children("div.draggable").attr("size"))).children("div.rack-slot").map(function() { return $(this).attr('id')});
                        if ($.inArray($(this).attr("id"), previous_ids) != -1){
                          var check = 0;
                          for (let index = 0; index < previous_ids.length; index++) {
                            check = check + Number($("#"+previous_ids[index]).children("div.draggable").length);
                          }
                          if (check <= 1){
                            $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
                            $(ui.draggable).css('height', draggable_size*Number(sendScreenSize().height)-2);
                            $(ui.draggable).attr("size", draggable_size);
                            $(this).find("div").css('height', draggable_size*Number(sendScreenSize().height)-2);
                            $(this).find("div").attr("size", draggable_size);
                            dropped = true;
                            position = Number($(this).attr("slot"));
                          } else { $(ui.draggable).addClass('drag-revert'); }
                        } else {
                          $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
                          $(ui.draggable).css('height', draggable_size*Number(sendScreenSize().height)-2);
                          $(ui.draggable).attr("size", draggable_size);
                          $(this).find("div").css('height', draggable_size*Number(sendScreenSize().height)-2);
                          $(this).find("div").attr("size", draggable_size);
                          dropped = true;
                          position = Number($(this).attr("slot"));
                        }
                      }
                    } else {

                      $(this).parent().nextAll().add($(this).parent()).slice(0, draggable_size).find('.rack-slot').addClass("ui-state-highlight");          
                      $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
                      $(ui.draggable).css('height', draggable_size*Number(sendScreenSize().height)-2);
                      $(ui.draggable).attr("size", draggable_size);
                      $(this).find("div").css('height', draggable_size*Number(sendScreenSize().height)-2);
                      $(this).find("div").attr("size", draggable_size);
                      dropped = true;
                      position = Number($(this).attr("slot"));
                    }
                  }
                }
              } else {
                if (big_element >= draggable_size){
                  $(this).parent().nextAll().add($(this).parent()).slice(0, big_element).find('.rack-slot').addClass("ui-state-highlight");          
                  $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
                  $(ui.draggable).css('height', big_element*Number(sendScreenSize().height)-2);
                  $(ui.draggable).attr("size", big_element);
                  $(this).find("div").css('height', big_element*Number(sendScreenSize().height)-2);
                  $(this).find("div").attr("size", big_element);
                  dropped = true;
                  position = Number($(this).attr("slot"));
                } else { $(ui.draggable).addClass('drag-revert'); }
              }
              
            } else {

                if ($(this).hasClass("ui-state-highlight")){
                  if ($(this).children("div.draggable:first").length){
                    var size = $(this).children("div.draggable:first").attr("size");
                    $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
                    $(ui.draggable).css('height', size*Number(sendScreenSize().height)-2);
                    $(ui.draggable).attr("size", size);
                    dropped = true;
                    position = Number($(this).attr("slot"));
                  } else {
                    $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(exact_div);
                    $(ui.draggable).css('height', owner_draggable_size*Number(sendScreenSize().height)-2);
                    $(ui.draggable).attr("size", owner_draggable_size);
                    var total_elements = Number(exact_div.find("div").length);
                    var each_width = sendScreenSize().width / total_elements;
                    each_width = String(each_width-total_elements-2)+'px';
                    if (total_elements != 1){ exact_div.find("span").hide(); } else { exact_div.find("span").show(); }
                    exact_div.find("div").css('width', each_width);
                    dropped = true;
                    position = Number(exact_div.attr("slot"));
                  }
                } else {
                  var total_elements = Number($(this).find("div").length);
                  var big_element = Number($(this).find("div").attr("size"));
                  if (total_elements > 1){
                    $(this).parent().nextAll().add($(this).parent()).slice(1, big_element).find('.rack-slot').addClass("ui-state-highlight");            
                    $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
                    $(ui.draggable).css('height', big_element*Number(sendScreenSize().height)-2);
                    $(ui.draggable).attr("size", big_element);
                    dropped = true;
                    position = Number($(this).attr("slot"));
                  } else {
                    var source_size = Number($("#"+source_slot+"-"+source_rack+source_orientation).children("div").attr("size"));
                    $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
                    $(this).addClass("ui-state-highlight" );
                    console.log("this extra condition");
                    dropped = true;
                    position = Number($(this).attr("slot"));
                  }
                }
            }
          
  
           
            var total_elements = Number($(this).find("div").length);
            var each_width = sendScreenSize().width / total_elements;
            each_width = String(each_width-total_elements-2)+'px';
            if (total_elements != 1){ $(this).find("span").hide(); } else { $(this).find("span").show(); }
            $(this).find("div").css('width', each_width);
            var source_div_length = Number($("#"+source_slot+"-"+source_rack+source_orientation).children("div").length);
            if (source_div_length >= 1){
              var each_div_width = sendScreenSize().width / source_div_length;
              each_div_width = String(each_div_width-source_div_length-2)+'px';
              if (source_div_length == 1){ $("#"+source_slot+"-"+source_rack+source_orientation).children("div").find("span").show(); }
              $("#"+source_slot+"-"+source_rack+source_orientation).children("div").css('width', each_div_width);
            }   
            
          }



      }


        if (dropped === true){


          for (let index = 0; index < Number($("#"+source_slot+"-"+source_rack+source_orientation).find("div.draggable").attr("size")); index++) {
            if ($("#"+source_slot+"-"+source_rack+source_orientation).children("input[name='order']").val() == 'ascending'){
              var slot = Number(source_slot)+index;
            } else {
              var slot = Number(source_slot)-index;
            }
            $("#"+slot+"-"+source_rack+source_orientation).addClass("ui-state-highlight");
          }

          var source_div_length = Number($("#"+source_slot+"-"+source_rack+source_orientation).children("div").length);
            if (source_div_length >= 1){
              var each_div_width = sendScreenSize().width / source_div_length;
              each_div_width = String(each_div_width-source_div_length-2)+'px';
              if (source_div_length == 1){ $("#"+source_slot+"-"+source_rack+source_orientation).children("div").find("span").show(); }
              $("#"+source_slot+"-"+source_rack+source_orientation).children("div").css('width', each_div_width);
            }

     

          var name = $(ui.draggable).attr('id');
          var type = $(ui.draggable).find("input[name='type']").val();
          var orientation = $(this).find("input[name='orientation']").val();
          var rack = $(this).find("input[name='rack']").val();
          var height = $(ui.draggable).attr("size");

          console.log("name is: "+ name);
          console.log("type is: "+ type);
          console.log("orientation is: "+ orientation);
          console.log("rack is: "+ rack);
          console.log("height is: "+ height);
          console.log("====================================================>>>position is: "+ position);
          /*
          var image_class = $(ui.draggable).attr('image_class');
          if (orientation == 'back'){
            $(ui.draggable).removeClass(image_class);
          } else {
            $(ui.draggable).addClass(image_class);
          }
          */
          
          /* */
          var result = update(name, type, rack, position, orientation, height);
          $(".toast-body").html();
          $(".toast-body").html(name + " Added to Rack "+ rack +".");
          $("#rack-toast").toast("show");
          /* */
        } else {
          console.log("Dropped is: "+ dropped);
        }
        
        // $(ui.draggable).css('zIndex', '0');
       
      }   
    });
  });

  </script>

  <link rel="stylesheet" src="{{ url_for('static', filename='js/jquery-1.6.2.min.js') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.contextmenu.css') }}">

<script type="text/javascript">

  function createMenu(e, title, items) {
    var menu = $('<ul class="contextMenuPlugin"><div class="gutterLine"></div></ul>').appendTo(document.body);
    if (title) { $('<li class="header"></li>').text(title).appendTo(menu); }
    items.forEach(function(item) {
      if (item) {
        var rowCode = '<li><a href="#"><span></span></a></li>';
        var row = $(rowCode).appendTo(menu);
        if(item.icon){
          var icon = $('<img>');
          icon.attr('src', item.icon);
          icon.insertBefore(row.find('span'));
        }
        row.find('span').text(item.label);
        if (item.action) {
          row.find('a').click(function(){ item.action(e); });
        }
      } else { $('<li class="divider"></li>').appendTo(menu); }
    });
    menu.find('.header').html(title);
    return menu;
  }


  
  $('.right-click').bind('contextmenu', function(e) {

    var url = window.location.href
    url = url.replace('#','');
    if  (url.includes('/show/rack/')){
        url = url.split('/');
        url.pop();
        url.pop();
        url.pop();
        url = url.join("/");
    }
    if (url.slice(-1) == '/'){ url = url.slice(0,-1); }
    var outside_url = url.replace('trinity_rack','');
    //console.log(url);
    //console.log(outside_url);

    var device = $(this).attr('id');
    var device_type = $(this).find("input[name='type']").val();
    var device_name = $(this).find("input[name='type']").val();
    var info, edit, rename, clone;
    if (device_type == "controller"){
      var title = '<img class="device-icon" src="'+url+'/static/icons/computer-network.png" />   <strong>'+device+' Settings</strong>';
      info = outside_url + 'trinity_cluster';
      edit = outside_url + "trinity_cluster/edit";
      rename = outside_url + "trinity_cluster/rename";
    } else if (device_type == "node"){
      var title = '<img class="device-icon" src="'+url+'/static/icons/processor.png" />   <strong>'+device+' Settings</strong>';
      info = outside_url + "trinity_node/show/"+device;
      edit = outside_url + "trinity_node/edit/"+device;
      rename = outside_url + "trinity_node/rename/"+device;
      clone = outside_url + "trinity_node/clone/"+device;
    } else if (device_type == "switch"){
      var title = '<img class="device-icon" src="'+url+'/static/icons/switch-network.png" />   <strong>'+device+' Settings</strong>';
      info = outside_url + "trinity_switch/show/"+device;
      edit = outside_url + "trinity_switch/edit/"+device;
      rename = outside_url + "trinity_switch/rename/"+device;
      clone = outside_url + "trinity_switch/clone/"+device;
    } else if (device_type == "otherdevices"){
      var title = '<img class="device-icon" src="'+url+'/static/icons/mobile-phone--plus.png" />   <strong>'+device+' Settings</strong>';
      info = outside_url + "trinity_otherdev/show/"+device;
      edit = outside_url + "trinity_otherdev/edit/"+device;
      rename = outside_url + "trinity_otherdev/rename/"+device;
      clone = outside_url + "trinity_otherdev/clone/"+device;
    }
    var items =[
        {label:'Details',   icon: url + '/static/icons/application-detail.png',             action: function(e) { window.open(info, '_blank').focus(); }  },
        {label:'Edit',      icon: url + '/static/icons/edit.png',                action: function(e) { window.open(edit, '_blank').focus(); }  },
    ];
    if (device_type != "controller"){
      items.push({label:'Rename',     icon: url + '/static/icons/pencil.png',             action: function(e) { window.open(rename, '_blank').focus(); }  });
      items.push({label:'Clone',     icon: url + '/static/icons/applications-stack.png',           action: function(e) { window.open(clone, '_blank').focus(); }  });
    }
    if (device_type == "node"){
      items.push(
        null,
        {label:'Power Status',     icon: url + '/static/icons/application-monitor.png',  action: function(e) { control_action('power', 'status', device); } },
        {label:'Power Off',     icon: url + '/static/icons/network-status-busy.png',     action: function(e) { control_action('power', 'off', device); } },
        {label:'Power ON',     icon: url + '/static/icons/network-status.png',      action: function(e) { control_action('power', 'on', device); } },
        {label:'Power Reset',     icon: url + '/static/icons/network-status-away.png',   action: function(e) { control_action('power', 'reset', device); } },
        null,
        {label:'Sel List',     icon: url + '/static/icons/application.png',                action: function(e) { control_action('sel', 'list', device); } },
        {label:'Sel Clear',     icon: url + '/static/icons/application--minus.png',        action: function(e) { control_action('sel', 'clear', device); } },
        null,
        {label:'Chassis Identify',     icon: url + '/static/icons/television.png',             action: function(e) { control_action('chassis', 'identify', device); } },
        {label:'Chassis No Identify',     icon: url + '/static/icons/television--exclamation.png',             action: function(e) { control_action('chassis', 'noidentify', device); } },
        // null,
        // {label:'Redfish Upload',     icon: url + '/static/icons/application-table.png',             action: function(e) {control_action('redfish', 'upload', device); } },
        // {label:'Redfish Setting',     icon: url + '/static/icons/application-table.png',             action: function(e) { control_action('redfish', 'setting', device); } },
      );
    }
    var menu = createMenu(e, title, items).show().css({zIndex:1000001, left:e.pageX + 5, top:e.pageY}).bind('contextmenu', function() { return false; });
    var bg = $('<div></div>').css({left:0, top:0, width:'1000%', height:'1000%', position:'absolute', zIndex:1000000}).appendTo(document.body)
      .bind('contextmenu click', function(e) {
        bg.remove();
        menu.remove();
        return false;
      });

    menu.find('a').click(function(e) {
      bg.remove();
      menu.remove();
    });

    return false;
  });




</script>

{% endblock content %}
