{% extends "base/pages/index.html" %}

{% block additional_js %}
<script src="{{ url_for('static', filename='js/d3v7.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-8">
            <div class="form-row">

                <!-- Select Which Nodes to pin -->
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Pin Nodes </span>
                        </div>
                        <select class="form-control" id="simulation-type">
                            {% set simulations = [ ('all', 'None'), ('compute', 'Switches'), ('none', 'All') ] %}
                            {% for (value, name) in simulations %}
                            <option value="{{value}}">{{name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Button to show node labels or link labels -->
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Labels </span>
                        </div>
                        <select class="form-control" id="label-type">
                            {% set labels = [ ('all', 'All'), ('nodes', 'Nodes'), ('links', 'Links'), ('none', 'None') ] %}
                            {% for (value, name) in labels %}
                            <option value="{{value}}">{{name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                

                <!-- Button to save the graph state -->
                <div class="col">
                    <div class="input-group mb-3">
                        <button type="button" class="btn btn-primary" id="save-graph">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </div>
                </div>

            </div>
            <div id="graph"></div>
        </div>
        <div class="col-md-4">
            <div id="nodes-table" class="table-sm table-borderless"></div>
            <div id="links-table" class="table-sm table-borderless"></div>
        </div>
    </div>



{% endblock %}