{% extends "base/pages/index.html" %}

{% block additional_js %}
<script src="{{ url_for('static', filename='js/d3v7.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}

{% block content %}
<div class="container" id="container">

    <div class="row">
        <div class="col-md-8">
            <div class="form-row">

                <!-- Read only input for the number of switch nodes -->
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"># Switches </span>
                        </div>
                        <input type="text" class="form-control" id="n-switches" readonly>
                    </div>
                </div>

                <!-- Read only input for the number of compute nodes -->
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"># Nodes </span>
                        </div>
                        <input type="text" class="form-control" id="n-computes" readonly>
                    </div>
                </div>

                <!-- Read only input for the number of links -->
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"># Links </span>
                        </div>
                        <input type="text" class="form-control" id="n-links" readonly>
                    </div>
                </div>

                <!-- Select for the simulation type -->
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Simulation </span>
                        </div>
                        <select class="form-control" id="simulation-type">
                            {% set simulations = [ ('all', 'All'), ('compute', 'Nodes'), ('none', 'None') ] %}
                            {% for (value, name) in simulations %}
                            <option value="{{value}}">{{name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Button to save the graph state -->
                <div class="col">
                    <div class="input-group mb-3">
                        <button type="button" class="btn btn-primary" id="save-graph">Save Layout</button>
                    </div>
                </div>

            </div>
            <div id="graph"></div>
        </div>
        <div class="col-md-4">
            <div id="table" class="table-sm table-borderless"></div>
        </div>
    </div>
</div>


{% endblock %}