
.layout-menu-fixed:not(.layout-menu-collapsed) .layout-page, .layout-menu-fixed-offcanvas:not(.layout-menu-collapsed) .layout-page {
  padding: 0rem;
}
.grad {
  /* background-image: linear-gradient(to right, lightblue, green, yellow, orange, red); */
  background: linear-gradient(to right, 
      /* lightblue 0%,  */
      blue 15%, 
      green 25%, 
      yellow 50%, 
      orange 75%, 
      red 100%);
  width: 60%;
}

/* ------------ Introducing Media Query to Make Large and Small Layouts for Rack and it's components. ----------------- */

/* ------------ Small Screen View ----------------- */


@media only screen and (max-width: 1920px) {

  .rack_button {
    padding: 1px 2px;
    font-size: 7px;
  }

.draggable {
  height: 10px;
  padding: 0;
  margin: 0;
}

.ui-widget-content {
    border: null;
    background: #363636;
    color: #ffffff;
}

#devices {
  background-color: rgb(203, 209, 209);
  height: 100%;
  width:90%;
  margin-left: 5%;
  margin-right: 5%; 
}

#devices .draggable{
  margin: 2%;
}


.ui-state-hover {
  border: 1px solid #cccccc;
  background: #067a19;
  font-weight:bolder;
  color: #ffffff;
}


.right-click {
  display: inline-block;
}

#dev-name {
  font-size:xx-small;
  margin-top: 0px;
  position:absolute;
  margin-left: 40px;
}


.color_metric {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Clearfix to contain floated elements */
}

code {
  font-size: 100%;
  height: 10px;
  padding: 0;
  margin: 0;
  display: inline-block; /* Ensure it behaves like a block while remaining inline */
}
.row {
  flex-wrap: nowrap;
}

.playground {
  display: inline-block;
  float: none;
  margin-right: 30px;
}


.rack-pillar {
  width: 5px;
  background-color: #3a3a3a;
  color:#ffffff;
  padding: 1%;
}
.rack-base {
  width: 160px;
  height: 5px;
  background-color: #3a3a3a;
  color:#ffffff;
}
.rack-name {
  width: 120px;
  background-color: #bebebe;
  color:#000000;
  font-size: xx-small;
}

.rack-pillar-front {
  width: 5px;
  background-color: #cecece;
  color:#000000;
  padding: 1%;
}
.rack-base-front {
  width: 160px;
  height: 5px;
  background-color: #cecece;
  color:#000000;
}
.rack-name-front {
  width: 120px;
  background-color: #e7e7e7;
  color:#000000;
  font-size: xx-small;
}

.rack-unit {
  width: 15px;
  height: 15px;
  background-color: #aaaaaa;
  color:#000000;
  padding: 0%;
  font-size: xx-small;
}
.rack-slot {
  width: 120px;
  height: 15px;
  padding: 0;
  margin: 0;
  color:#ffffff;
}
.rack-slot p {
  margin: 0;
} */

/* Servers Skins Depends on the size and availability.  */

/* .noname {
  background-image: url('../img/noname.png');
}
.noname span {
  color: #ffffff;
}


.default {
  background-image: url('../img/gigabyte-1.png');
  background-size: 218px  28px;
}
.default span {
  color: #ffffff;
}

.switch {
  background-image: url('../img/switch.png');
  background-size: 218px  28px;
}
.switch span {
  color: #ffffff;
}

.supermicro-1 {
  background-image: url('../img/supermicro-1.png');
  background-size: 218px  28px;
}

.supermicro-2 {
  background-image: url('../img/supermicro-2.png');
  background-size: 218px  58px;
}

.supermicro-3 {
  background-image: url('../img/supermicro-3.png');
  background-size: 218px  88px;
}

.supermicro-4 {
  background-image: url('/img/supermicro-4.png');
  background-size: 218px  118px;
}

.supermicro-1 span {
  color: #ffffff;
}

.supermicro-2 span {
  color: #ffffff;
}

.supermicro-3 span {
  color: #ffffff;
}

.supermicro-4 span {
  color: #ffffff;
}



.asus-1 {
  background-image: url('../img/asus-1.png');
  background-size: 218px  28px;
}

.asus-2 {
  background-image: url('../img/asus-2.png');
  background-size: 218px  58px;
}

.asus-3 {
  background-image: url('../img/asus-3.png');
  background-size: 218px  88px;
}

.asus-4 {
  background-image: url('../img/asus-4.png');
  background-size: 218px  118px;
}

.asus-1 span {
  color: #ffffff;
}

.asus-2 span {
  color: #ffffff;
}

.asus-3 span {
  color: #ffffff;
}

.asus-4 span {
  color: #ffffff;
}


.dell-1 {
  background-image: url('../img/dell-1.png');
  background-size: 218px  28px;
}

.dell-2 {
  background-image: url('../img/dell-2.png');
  background-size: 218px  58px;
}

.dell-4 {
  background-image: url('../img/dell-4.png');
  background-size: 218px  118px;
}

.dell-1 span {
  color: #ffffff;
}

.dell-2 span {
  color: #ffffff;
}

.dell-4 span {
  color: #ffffff;
}


.gigabyte-1 {
  background-image: url('../img/gigabyte-1.png');
  background-size: 218px  28px;
}

.gigabyte-2 {
  background-image: url('../img/gigabyte-2.png');
  background-size: 218px  58px;
}

.gigabyte-4 {
  background-image: url('../img/gigabyte-4.png');
  background-size: 218px  118px;
}

.gigabyte-1 span {
  color: #ffffff;
}

.gigabyte-2 span {
  color: #ffffff;
}

.gigabyte-4 span {
  color: #ffffff;
}


.hp-1 {
  background-image: url('../img/hp-1.png');
  background-size: 218px  28px;
}

.hp-2 {
  background-image: url('../img/hp-2.png');
  background-size: 218px  58px;
}

.hp-4 {
  background-image: url('../img/hp-4.png');
  background-size: 218px  118px;
}

.hp-1 span {
  color: #ffffff;
}

.hp-2 span {
  color: #ffffff;
}

.hp-4 span {
  color: #ffffff;
}
 

/* Servers Skins Depends on the size and availability.  */



}

/* ------------ Small Screen View ----------------- */


/* ------------ Large Screen View ----------------- */
@media only screen and (min-width: 1921px) {

  .draggable {
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .ui-widget-content {
      border: null;
      background: #363636;
      color: #ffffff;
  }
  
  #devices {
    background-color: rgb(203, 209, 209);
    height: 100%;
    width:90%;
    margin-left: 5%;
    margin-right: 5%; 
  }
  
  #devices .draggable{
    margin: 2%;
  }
  
  
  .ui-state-hover {
    border: 1px solid #cccccc;
    background: #067a19;
    font-weight:bolder;
    color: #ffffff;
  }
  
  
  .right-click {
    display: inline-block;
    text-align: center;
  }
  
  .row {
    flex-wrap: nowrap;
  }
  
  .playground {
    display: inline-block;
    float: none;
    margin-right: 30px;
  }
  
  
  .rack-pillar {
    width: 15px;
    background-color: #3a3a3a;
    color:#ffffff;
    padding: 1%;
  }
  .rack-base {
    width: 300px;
    height: 15px;
    background-color: #3a3a3a;
    color:#ffffff;
  }
  .rack-name {
    width: 220px;
    background-color: #bebebe;
    color:#000000;
  }
  
  .rack-pillar-front {
    width: 15px;
    background-color: #cecece;
    color:#000000;
    padding: 1%;
  }
  .rack-base-front {
    width: 300px;
    height: 15px;
    background-color: #cecece;
    color:#000000;
  }
  .rack-name-front {
    width: 220px;
    background-color: #e7e7e7;
    color:#000000;
  }
  
  .rack-unit {
    width: 25px;
    height: 30px;
    background-color: #aaaaaa;
    color:#000000;
    padding: 1%;
  }
  .rack-slot {
    width: 220px;
    height: 30px;
    padding: 0;
    margin: 0;
    color:#ffffff;
  }
  .rack-slot p {
    margin: 0;
  }



  /* Servers Skins Depends on the size and availability.  */

.noname {
  background-image: url('../img/noname.png');
}
.noname span {
  color: #ffffff;
}


.default {
  background-image: url('../img/gigabyte-1.png');
  background-size: 218px  28px;
}
.default span {
  color: #ffffff;
}

.switch {
  background-image: url('../img/switch.png');
  background-size: 218px  28px;
}
.switch span {
  color: #ffffff;
}

.supermicro-1 {
  background-image: url('../img/supermicro-1.png');
  background-size: 218px  28px;
}

.supermicro-2 {
  background-image: url('../img/supermicro-2.png');
  background-size: 218px  58px;
}

.supermicro-3 {
  background-image: url('../img/supermicro-3.png');
  background-size: 218px  88px;
}

.supermicro-4 {
  background-image: url('/img/supermicro-4.png');
  background-size: 218px  118px;
}

.supermicro-1 span {
  color: #ffffff;
}

.supermicro-2 span {
  color: #ffffff;
}

.supermicro-3 span {
  color: #ffffff;
}

.supermicro-4 span {
  color: #ffffff;
}



.asus-1 {
  background-image: url('../img/asus-1.png');
  background-size: 218px  28px;
}

.asus-2 {
  background-image: url('../img/asus-2.png');
  background-size: 218px  58px;
}

.asus-3 {
  background-image: url('../img/asus-3.png');
  background-size: 218px  88px;
}

.asus-4 {
  background-image: url('../img/asus-4.png');
  background-size: 218px  118px;
}

.asus-1 span {
  color: #ffffff;
}

.asus-2 span {
  color: #ffffff;
}

.asus-3 span {
  color: #ffffff;
}

.asus-4 span {
  color: #ffffff;
}


.dell-1 {
  background-image: url('../img/dell-1.png');
  background-size: 218px  28px;
}

.dell-2 {
  background-image: url('../img/dell-2.png');
  background-size: 218px  58px;
}

.dell-4 {
  background-image: url('../img/dell-4.png');
  background-size: 218px  118px;
}

.dell-1 span {
  color: #ffffff;
}

.dell-2 span {
  color: #ffffff;
}

.dell-4 span {
  color: #ffffff;
}


.gigabyte-1 {
  background-image: url('../img/gigabyte-1.png');
  background-size: 218px  28px;
}

.gigabyte-2 {
  background-image: url('../img/gigabyte-2.png');
  background-size: 218px  58px;
}

.gigabyte-4 {
  background-image: url('../img/gigabyte-4.png');
  background-size: 218px  118px;
}

.gigabyte-1 span {
  color: #ffffff;
}

.gigabyte-2 span {
  color: #ffffff;
}

.gigabyte-4 span {
  color: #ffffff;
}


.hp-1 {
  background-image: url('../img/hp-1.png');
  background-size: 218px  28px;
}

.hp-2 {
  background-image: url('../img/hp-2.png');
  background-size: 218px  58px;
}

.hp-4 {
  background-image: url('../img/hp-4.png');
  background-size: 218px  118px;
}

.hp-1 span {
  color: #ffffff;
}

.hp-2 span {
  color: #ffffff;
}

.hp-4 span {
  color: #ffffff;
}


/* Servers Skins Depends on the size and availability.  */


}

/* ------------ Large Screen View ----------------- */

/* ------------ Introducing Media Query to Make Large and Small Layouts for Rack and it's components. ----------------- */


