{% extends "layout/base.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y" style="max-width: none;">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Monitoring /</span> {{ table }}</h4>
  <!-- Bordered Table -->
  <div class="card">
    <h5 class="card-header">Rules</h5>
    <div class="card-body">
      <div class="table-responsive text-nowrap">
        <div id="modal-container"></div>
        <table class="table table-bordered table-striped table-hover table-responsive" id="alert-table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Group</th>
              <th scope="col">Rule</th>
              <th scope="col">Status</th>
              <th scope="col">NHC</th>
              <th scope="col">Priority</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!--/ Bordered Table -->
</div>
<!-- / Content --><hr class="my-5" />
{% endblock content %}