<title>{{app_name}}</title>
<meta charset="UTF-8">

<script src={{ url_for("static", filename="/base/js/jquery.min.js") }}></script>
<script src={{ url_for("static", filename="/base/js/tabulator.min.js") }}></script>
<script src={{ url_for("static", filename="/base/js/bootstrap.bundle.min.js") }}></script>
<script src={{ url_for("static", filename="/base/js/font-awesome.min.js") }}></script>
<script src={{ url_for("static", filename="/base/js/form-parser.js") }}></script>

<link rel="stylesheet" type="text/css" href={{ url_for( "static", filename="/base/css/bootstrap.min.css") }}>
<link rel="stylesheet" type="text/css" href={{ url_for( "static", filename="/base/css/bootstrap-reboot.min.css") }}>
<link rel="stylesheet" type="text/css" href={{ url_for( "static", filename="/base/css/bootstrap-grid.min.css") }}>
<link rel="stylesheet" type="text/css" href={{ url_for( "static", filename="/base/css/custom.css") }}>
<link rel="stylesheet" type="text/css" href={{ url_for( "static", filename="/base/css/tabulator.min.css") }}>
<link rel="stylesheet" type="text/css" href={{ url_for( "static", filename="/base/css/tabulator_bootstrap4.min.css") }}>
<link rel="stylesheet" type="text/css" href={{ url_for( "static", filename="/base/css/font-awesome.min.css") }}>
</head>