<nav class="navbar navbar-light bg-light">
  <ol class="breadcrumb bg-transparent d-flex align-items-center">
    <img src="{{ url_for( 'static', filename='/branding/trinityX/logo.png') }}" class="img-logo">
    <li class="breadcrumb-item">
      <a class="align-middle" href="#">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a class="align-middle" href="#">Library</a>
    </li>
    <li class="breadcrumb-item">
      <a class="align-middle" href="#">Another Section</a> <!-- Change text or link here -->
    </li>
  </ol>
</nav>
