{% extends "layout/base.html" %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y" style="max-width: none;">
  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <!-- Bordered Table -->
  <div class="card">
    <h5 class="card-header">Services</h5>
    <div class="card-body">
      <div class="table-responsive text-nowrap">
        <table frame="box" rules="cols" id="my_table" class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th style="padding-left: 1em; padding-right: 1em; text-align: center">S. No.</th>
              <th style="padding-left: 1em; padding-right: 1em; text-align: center">Service</th>
              <th style="padding-left: 1em; padding-right: 1em; text-align: center">Status</th>
              <th style="padding-left: 1em; padding-right: 1em; text-align: center">Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">DHCP</td>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">
                  <span class="badge bg-label-{% if 'FAIL' in current_state.dhcp %}danger{% elif 'OK' in current_state.dhcp %}success{% else %}primary{% endif %} me-1">{{ current_state.dhcp }}</span>
                </td>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">
                  <a onclick="service_action('dhcp', 'start');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>DHCP Start</span>"><i class="bx bx-md bx-power-off" style="color: #71dd37;"></i></a>
                  <a onclick="service_action('dhcp', 'restart');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>DHCP Restart</span>"><i class="bx bx-md bx-revision" style="color: #20c997;"></i></a>
                  <a onclick="service_action('dhcp', 'reload');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>DHCP Reload</span>"><i class="bx bx-md bx-repost bx-flip-vertical" style="color: #e83e8c;"></i></a>
                  <a onclick="service_action('dhcp', 'stop');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>DHCP Stop</span>"><i class="bx bx-md bx-power-off bx-flip-vertical" style="color: #ff3e1d;"></i></a>
                  <span style="display: inline-block; white-space: nowrap;">
                    <form action="" method="POST">
                      <input type="hidden" name="service" value="dhcp" />
                      <input type="hidden" name="action" value="status" />
                      <button class="button_tooltip" type="submit" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>DHCP Status</span>"><i class="bx bx-md bx-stats" style="color: #03c3ec;"></i></button>
                    </form>
                  </span>&nbsp;&nbsp;
                </td>
              </tr>
              <tr>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">DNS</td>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">
                  <span class="badge bg-label-{% if 'FAIL' in current_state.dns %}danger{% elif 'OK' in current_state.dns %}success{% else %}primary{% endif %} me-1">{{ current_state.dns }}</span>
                </td>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">
                  <a onclick="service_action('dns', 'start');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>DNS Start</span>"><i class="bx bx-md bx-power-off" style="color: #71dd37;"></i></a>
                  <a onclick="service_action('dns', 'restart');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>DNS Restart</span>"><i class="bx bx-md bx-revision" style="color: #20c997;"></i></a>
                  <a onclick="service_action('dns', 'reload');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>DNS Reload</span>"><i class="bx bx-md bx-repost bx-flip-vertical" style="color: #e83e8c;"></i></a>
                  <a onclick="service_action('dns', 'stop');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>DNS Stop</span>"><i class="bx bx-md bx-power-off bx-flip-vertical" style="color: #ff3e1d;"></i></a>
                  <span style="display: inline-block; white-space: nowrap;">
                    <form action="" method="POST">
                      <input type="hidden" name="service" value="dns" />
                      <input type="hidden" name="action" value="status" />
                      <button class="button_tooltip" type="submit" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>DNS Status</span>"><i class="bx bx-md bx-stats" style="color: #03c3ec;"></i></button>
                    </form>
                  </span>&nbsp;&nbsp;
                  </td>
              </tr>
              <tr>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">LUNA 2</td>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">
                  <span class="badge bg-label-{% if 'FAIL' in current_state.luna2 %}danger{% elif 'OK' in current_state.luna2 %}success{% else %}primary{% endif %} me-1">{{ current_state.luna2 }}</span>
                </td>
                <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">
                  <a onclick="service_action('luna2', 'start');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>Luna 2 Start</span>"><i class="bx bx-md bx-power-off" style="color: #71dd37;"></i></a>
                  <a onclick="service_action('luna2', 'restart');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>Luna 2 Restart</span>"><i class="bx bx-md bx-revision" style="color: #20c997;"></i></a>
                  <a onclick="service_action('luna2', 'reload');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>Luna 2 Reload</span>"><i class="bx bx-md bx-repost bx-flip-vertical" style="color: #e83e8c;"></i></a>
                  <a onclick="service_action('luna2', 'stop');" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>Luna 2 Stop</span>"><i class="bx bx-md bx-power-off bx-flip-vertical" style="color: #ff3e1d;"></i></a>
                  <span style="display: inline-block; white-space: nowrap;">
                    <form action="" method="POST">
                      <input type="hidden" name="service" value="luna2" />
                      <input type="hidden" name="action" value="status" />
                      <button class="button_tooltip" type="submit" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bxs-arrow-from-left bx-xs' ></i> <span>Luna 2 Status</span>"><i class="bx bx-md bx-stats" style="color: #03c3ec;"></i></button>
                    </form>
                  </span>&nbsp;&nbsp;
                </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
  <!--/ Bordered Table -->
</div>
<!-- / Content -->
<hr class="my-5" />
{% endblock content %}