<html lang="en" class="h-100">
   <head>
      <meta charset="utf-8">
      <title>OOD - {{CONFIGS['APP']['APP_NAME']}} </title>
      <!-- Bootstrap core CSS -->
      {% include "base/components/head.html" %}
      {% block additional_js %}{% endblock %}

   </head>
   <body class="d-flex flex-column h-100">
      <header>
          <!-- Fixed navbar -->
          {% include "base/components/navbar.html" %}
      </header>
      <div class="row info_bar">
         <div class="col-md-12">
               <div class="alert alert-info alert-dismissible" role="alert">
                  <div class="row">
                     <div class="col col-1"><i class="fa-solid fa-circle" style="color: #198754;"></i></div>
                     <div class="col col-11"><i>When Node is UP <strong>(idle/busy/mixed/allocated)</strong></i></div>
                  </div>
                  <div class="row">
                     <div class="col col-1"><i class="fa-solid fa-circle" style="color: #000000;"></i></div>
                     <div class="col col-11"><i>When Node is Down <strong>(unknown/not_responding/down)</strong></i></div>
                  </div>
                  <div class="row">
                     <div class="col col-1"><i class="fa-solid fa-circle" style="color: #ffc107;"></i></div>
                     <div class="col col-11"><i>When Node is Drained by <strong>app/service</strong></i></div>
                  </div>
                  <div class="row">
                     <div class="col col-1"><i class="fa-solid fa-circle" style="color: #dc3545;"></i></div>
                     <div class="col col-11"><i>When Node is Drained by <strong>Infiniband Application</strong></i></div>
                  </div>
                  <div class="row">
                     <div class="col col-1"><i class="fa-solid fa-circle" style="color: #CCC;"></i></div>
                     <div class="col col-11"><i>When Node is <strong>Absent in Slurm</strong></i></div>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               </div>
         </div>
      </div>


      <div class="container" id="app-container">
        <div id="ajax"></div>
         <div id="alerts">
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
               {{ message }}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
           </div>
            {% endfor %}
         </div>
         {% block content %}{% endblock %}
         {% block additional_css %}{% endblock %}
         {% include "base/components/modal.html" %}
         {% include "base/components/foot.html" %}
      </div>
      {% include "base/components/site_footer.html" %}
   </body>
</html>