<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<title>{{ table }} :: Luna</title>
<meta name="description" content="" />
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon/favicon.ico') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/boxicons.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />

<style>
  .alert-error {
    background-color: #ffe0db;
    border-color: #ffc5bb;
    color: #ff3e1d;
  }
  
  a:not([href]) {
    color: white; 
    text-decoration: none;
  }

  .button_tooltip {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }
  
  #run-time-body{
    background-color: black;
    color:antiquewhite
  }
    
  .spinner {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  .datatable_length {
    display: inline-block;
  }
  
  .datatable_search {
    margin-left: 55%;
  }
  
  .datatable_filter {
    margin-left: 55%;
  }
  
  .datatable_paginate {
    float: right;
  }
        
  .datatable_paginate::before {
    content: "\a";
    white-space: pre;
  }

  #datatable_info::before {
    content: "\a";
    white-space: pre;
  }
</style>
