<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/javascript.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/yaml.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/js-yaml.min.js') }}"></script>


<script>
    let configuration;

    let successToast = $('<div class="bs-toast toast toast-placement-ex m-2 fade bg-success top-0 end-0 show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000"> \
        <div class="toast-header"> \
          <i class="bx bx-bell me-2"></i> \
          <div class="me-auto fw-medium">Configuration</div> \
          <small>0 seconds ago</small> \
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> \
        </div> \
        <div class="toast-body">Configuration Saved successfully.</div> \
      </div>');

    let failedToast = $('<div class="bs-toast toast toast-placement-ex m-2 fade bg-danger top-0 end-0 show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000"> \
        <div class="toast-header"> \
          <i class="bx bx-bell me-2"></i> \
          <div class="me-auto fw-medium">Configuration</div> \
          <small>0 seconds ago</small> \
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> \
        </div> \
        <div class="toast-body"></div> \
      </div>');

    let warningToast = $('<div class="bs-toast toast toast-placement-ex m-2 fade bg-warning top-0 end-0 show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000"> \
        <div class="toast-header"> \
          <i class="bx bx-bell me-2"></i> \
          <div class="me-auto fw-medium">Configuration</div> \
          <small>0 seconds ago</small> \
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> \
        </div> \
        <div class="toast-body"></div> \
      </div>');


    var editor;
    var editorInstances = {};

    // Function to initialize or update the editor with given content and mode
    function setupEditor(count, content, mode) {
        if (!editorInstances[count]) {
            editorInstances[count] = CodeMirror(document.getElementById('ruleEditor_' + count), {
                theme: "material-darker",
                lineNumbers: true,
                autoCloseBrackets: true,
                matchBrackets: true,
                tabSize: 2,
                lineWrapping: true,
                viewportMargin: Infinity
            });
            editorInstances[count].setSize(null, 300);
        }
        editorInstances[count].setValue(content);
        editorInstances[count].setOption("mode", mode);
        editorInstances[count].refresh();
    }

    function openEditor(count) {
        const editorContainer = document.getElementById('ruleEditor_' + count);

    // Ensure container visibility
    if (editorContainer) {
        editorContainer.style.display = 'block';
        editorContainer.style.height = '300px';
        editorContainer.style.width = '100%';
    } else {
        console.error("Editor container not found for count:", count);
        return null;
    }

        if (editorInstances[count]) {
            const editor = editorInstances[count];
            editor.refresh();
            return editor;
        } else {
            console.error("Editor instance does not exist for count:", count);
            //return null;
            return setupEditor(count, "", { name: "javascript", json: true });
        }
    }


    // Function to display warning messages
    function displayWarning(message) {
        warningToast.find('.toast-body').text(message);
        $('body').append(warningToast);
        warningToast.addClass('show');
        setTimeout(function() {
            warningToast.removeClass('show').addClass('fade');
            warningToast.remove();
        }, 10000);
    }

    function getLatestValues(count) {
        let values = {
            alert: $('#rule_name_' + count).val(),
            annotations: {description: $('#rule_description_' + count).val()},
            for: $('#rule_for_' + count).val(),
            expr: $('#exprInput_' + count).val(),
            labels: { _trix_status: $('#rule_status_' + count).is(':checked'), nhc: $('#rule_nhc_' + count).is(':checked')}
        };
        //console.log("Latest values:", values);
        return values;
    }
    
    // Attach events to each input to call getLatestValues on change
    function setupEventListeners(count) {
        // Use `input` for real-time updates on text inputs
        $('#rule_name_' + count).on('input', function() { getLatestValues(count); });
        $('#rule_description_' + count).on('input', function() { getLatestValues(count); });
        $('#rule_for_' + count).on('input', function() { getLatestValues(count); });
        $('#exprInput_' + count).on('input', function() { getLatestValues(count); });
    
        // Use `change` for checkboxes and dropdowns
        $('#rule_status_' + count).on('change', function() { getLatestValues(count); });
        $('#rule_nhc_' + count).on('change', function() { getLatestValues(count); });
    }

    // Function to Setup HTML Form Values
    function setupHTML(count, jsonData) {
        $('#rule_name_'+count).val(jsonData.alert);
        $('#rule_description_'+count).val(jsonData.annotations.description);
        $('#rule_for_'+count).val(jsonData.for);
        $('#exprInput_'+count).val(jsonData.expr);
        $('#rule_status_'+count).prop('checked', jsonData.labels._trix_status === true);
        $('#rule_nhc_'+count).prop('checked', jsonData.labels.nhc === 'yes');
        $('#rule_status_label_'+count).html(jsonData.labels._trix_status === true ? 'ON' : 'OFF');
        $('#rule_nhc_label_'+count).html(jsonData.labels.nhc === 'yes'? 'ON' : 'OFF');
        //editorInstances[count].setValue(content);
       // setupEventListeners(count);
        var content = getLatestValues(count);
      //  console.log("content:", content);
        setupEditor(count, JSON.stringify(content, null, 2), { name: "javascript", json: true });
    }



    // When switching to HTML mode, format the content as JSON or YAML
    function rule_modal_html(count, rule){
        var ruleObject = JSON.parse(atob(rule));
        $('#model-form_'+count).show();
        $('#ruleEditor_'+count).hide();
        $('#button_html_'+count).prop('disabled', true);
        $('#button_json_'+count).prop('disabled', false);
        $('#button_yaml_'+count).prop('disabled', false);
        try {
            let currentContent = editorInstances[count] ? editorInstances[count].getValue() : JSON.stringify(ruleObject, null, 2);
            let jsonData = jsyaml.load(currentContent);
            setupHTML(count, jsonData);
        } catch (e) {
            displayWarning("Invalid JSON or YAML content:" + e);
        }
        var content = getLatestValues(count);
        setupEditor(count, JSON.stringify(content, null, 2), { name: "javascript", json: true });
    }

    // When switching to JSON mode, format the content as JSON
    function rule_modal_json(count, rule){
        $('#model-form_' + count).hide();
        $('#ruleEditor_' + count).show();
        $('#button_html_'+count).prop('disabled', false);
        $('#button_json_'+count).prop('disabled', true);
        $('#button_yaml_'+count).prop('disabled', false);


        // TODO: Figure out the solution for DOM editor, now use setupEditor with real configuration always.

        let count_configuration = 1;
        configuration.groups.forEach(function(group) {
            group.rules.forEach(function(rule) {
                if (count_configuration === count){
                    setupEditor(count, JSON.stringify(rule, null, 2), { name: "javascript", json: true });
                }
                count_configuration++;
            });
        });
    }

    // When switching to YAML mode, convert the content to YAML
    function rule_modal_yaml(count, rule){
        $('#model-form_' + count).hide();
        $('#ruleEditor_' + count).show();
        $('#button_html_'+count).prop('disabled', false);
        $('#button_json_'+count).prop('disabled', false);
        $('#button_yaml_'+count).prop('disabled', true);

        /*   
        
        let count_configuration = 1;
        configuration.groups.forEach(function(group) {
            group.rules.forEach(function(rule) {
                if (count_configuration === count){
                    let yamlContent = jsyaml.dump(rule);
                    setupEditor(count, yamlContent, "yaml");
                }
                count_configuration++;
            });
        });
        */  
        
        console.log(count);
        console.log(ruleObject);
        try {
            let currentContent = editorInstances[count] ? editorInstances[count].getValue() : jsyaml.dump(ruleObject);
            console.log(currentContent);
            var content = getLatestValues(count);
            console.log(content);
            let latestContent = content ? content : currentContent;
            console.log(latestContent);
            let yamlContent = jsyaml.dump(latestContent);
            console.log(yamlContent);
            setupEditor(count, yamlContent, "yaml");
        } catch (e) {
            displayWarning("Invalid JSON content:" + e);
        }
    }
      

    async function get_rules(){
        const data = await $.ajax({
            url: '/get_rules',
            type: 'GET',
            success: function(data) {
                   var tableBody = $('#alert-table tbody');
                    tableBody.empty();
                    $('#modal-container').empty();
                    let count = 1;
                    data.groups.forEach(function(group) {
                        group.rules.forEach(function(rule) {
                            var row = '<tr>';
                                row += '<th scope="row">'+count+'</th>';
                                row += '<td>'+group.name+'</td>';
                                row += '<td><a href="" data-bs-toggle="modal" data-bs-target="#rule_modal_'+count+'">'+rule.alert+'</a></td>';
                                row += '<td><div class="form-check form-switch mb-2"><input class="form-check-input" onclick="update_configuration(`status`, this,'+count+', `'+btoa(JSON.stringify(rule))+'`);" type="checkbox" id="rule_status" '+(rule.labels._trix_status === true ? 'checked' : '')+'><label class="form-check-label" for="rule_status" id="rule_status_text_'+count+'">' + (rule.labels._trix_status === true ? 'ON' : 'OFF') + '</label></div></td>';
                                row += '<td><div class="form-check form-switch mb-2"><input class="form-check-input" onclick="update_configuration(`nhc`, this,'+count+', `'+btoa(JSON.stringify(rule))+'`);" type="checkbox" id="rule_nhc" '+(rule.labels.nhc === 'yes' ? 'checked' : '')+'><label class="form-check-label" for="rule_nhc" id="rule_nhc_text_'+count+'">' + (rule.labels.nhc === 'yes' ? 'ON' : 'OFF') + '</label></div></td>';
                                row += '<td><select id="severity_'+count+'" onchange="update_configuration(`severity`, this, '+count+', `'+btoa(JSON.stringify(rule))+'`);" class="form-select form-select-sm '+(rule.labels.severity === 'critical' ? 'btn-dark' : 'btn-'+rule.labels.severity)+'"><option class="btn-primary" value="">Set Priority</option> \
                                        <option class="btn-dark" value="critical" '+(rule.labels.severity === "critical" ? 'selected' : '')+'>Critical</option><option class="btn-danger" value="danger" '+(rule.labels.severity === "danger" ? 'selected' : '')+'>Danger</option> \
                                        <option class="btn-warning" value="warning" '+(rule.labels.severity === "warning" ? 'selected' : '')+'>Warning</option><option class="btn-info" value="info" '+(rule.labels.severity === "info" ? 'selected' : '')+'>Informational</option> \
                                        </select></td>';
                                row += '<td> \
                                    <button class="tooltip-modal-link" data-bs-toggle="modal" data-bs-target="#rule_modal_'+count+'" id="actions" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class=\'bx bxs-arrow-from-left bx-xs\'></i> <span>Edit This Rule</span>"><i class="bx bx-md bx-edit" style="color: #696cff;"></i></button> \
                                    <button class="tooltip-modal-link" onclick="update_configuration(`delete`, this,'+count+', `'+btoa(JSON.stringify(rule))+'`);" id="actions" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class=\'bx bxs-arrow-from-left bx-xs\'></i> <span>Delete This Rule</span>"><i class="bx bx-md bx-trash" style="color: red;"></i></button> \
                                  </td>';
                                tableBody.append(row);

                                var modal = '<div class="modal fade" id="rule_modal_'+count+'" tabindex="-1" aria-hidden="true"><div class="modal-dialog modal-xl" role="document"><div class="modal-content"> \
                                    <div class="modal-header"><h5 class="modal-title" id="exampleModalLabel4">RULE: '+rule.alert+'</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div> \
                                    <div class="modal-body"> \
                                        <div class="row"><div class="col mb-12"> \
                                            <button type="button" id="button_html_'+count+'" onclick="rule_modal_html('+count+', `'+btoa(JSON.stringify(rule))+'`);" class="btn btn-secondary btn-sm">Switch to HTML Mode</button> \
                                            <button type="button" id="button_json_'+count+'" onclick="rule_modal_json('+count+', `'+btoa(JSON.stringify(rule))+'`);" class="btn btn-primary btn-sm">Switch to JSON Mode</button> \
                                            <button type="button" id="button_yaml_'+count+'" onclick="rule_modal_yaml('+count+', `'+btoa(JSON.stringify(rule))+'`);" class="btn btn-warning btn-sm">Switch to YAML Mode</button> \
                                            <div id="ruleEditor_'+count+'" style="display: none; height: 300px; border: 1px solid #ddd;"></div></div></div> \
                                        <div id="model-form_'+count+'"> \
                                            <div class="row g-6"> \
                                                <div class="col mb-0"><label for="rule_name_'+count+'" class="form-label">Rule Name</label><input type="text" id="rule_name_'+count+'" class="form-control" placeholder="Enter Name" readonly value="'+rule.alert+'"></div> \
                                            </div> \
                                            <div class="row"> \
                                                <div class="col mb-6"><label for="rule_description_'+count+'" class="form-label">Rule Description</label><input type="text" id="rule_description_'+count+'" class="form-control" placeholder="Enter Name" value="'+rule.annotations.description+'"></div> \
                                            </div> \
                                            <div class="row"> \
                                                <div class="col mb-0"><label for="rule_for_'+count+'" class="form-label">Rule For</label><input type="text" id="rule_for_'+count+'" class="form-control" placeholder="Enter For" value="'+rule.for+'"></div> \
                                                <div class="col mb-6"><label for="exprInput_'+count+'" class="form-label">Rule Expr</label><input type="text" id="exprInput_'+count+'" class="form-control" placeholder="Enter Name" ></div> \
                                            </div> \
                                            <div class="row"> \
                                                <div class="col mb-0"><label for="rule_status_'+count+'" class="form-label">Enable</label><div class="form-check form-switch "><input type="checkbox" onclick="update_configuration(`status`, this,'+count+', `'+btoa(JSON.stringify(rule))+'`);" id="rule_status_'+count+'" class="form-check-input" '+(rule.labels._trix_status === true ? 'checked' : '')+'><label id="rule_status_label_'+count+'" for="rule_status_'+count+'" class="form-check-label">' + (rule.labels._trix_status === true ? 'ON' : 'OFF') + '</label></div></div> \
                                                <div class="col mb-6"><label for="rule_nhc_'+count+'" class="form-label">Rule NHC</label><div class="form-check form-switch "><input type="checkbox" onclick="update_configuration(`nhc`, this,'+count+', `'+btoa(JSON.stringify(rule))+'`);" id="rule_nhc_'+count+'" class="form-check-input" '+(rule.labels.nhc === 'yes' ? 'checked' : '')+' ><label id="rule_nhc_label_'+count+'" for="rule_nhc_'+count+'" class="form-check-label">' + (rule.labels.nhc === 'yes' ? 'ON' : 'OFF') + '</label></div></div> \
                                                <div class="col mb-6"><label for="rule_severity_'+count+'" class="form-label">Set Priority</label> \
                                                    <select id="rule_severity_'+count+'" onchange="update_configuration(`severity`, this, '+count+', `'+btoa(JSON.stringify(rule))+'`);" class="form-select form-select-sm '+(rule.labels.severity === 'critical' ? 'btn-dark' : 'btn-'+rule.labels.severity)+'"><option class="btn-primary">Set Priority</option> \
                                                    <option class="btn-dark" value="critical" '+(rule.labels.severity === "critical" ? 'selected' : '')+'>Critical</option><option class="btn-danger" value="danger" '+(rule.labels.severity === "danger" ? 'selected' : '')+'>Danger</option> \
                                                    <option class="btn-warning" value="warning" '+(rule.labels.severity === "warning" ? 'selected' : '')+'>Warning</option><option class="btn-info" value="info" '+(rule.labels.severity === "info" ? 'selected' : '')+'>Informational</option> \
                                                    </select></div>  \
                                            </div> \
                                        </div> \
                                    </div> \
                                    <div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button><button type="button" class="btn btn-primary">Save Rule</button></div></div></div></div>';
                                $('#modal-container').append(modal);
                                document.getElementById('exprInput_' + count).value = rule.expr;
                                count++; 
                        });
    
                    });
                    $('.tooltip-modal-link').tooltip();

                },
                error: function(xhr, status, error) {
                    console.error("Error fetching data:", error);
                }
            });
            configuration = data;
            console.log(configuration);
            return configuration;
        }

        configuration = get_rules();

        async function useGlobalVariable() {
            await get_rules();
            console.log('Inside useGlobalVariable:', configuration);
        }
        
        useGlobalVariable();
       // const update_spiner = '<div id="spinner" class="spinner-border text-success" role="status"><span class="visually-hidden">Saving Configuration...</span></div>';
        //const update_spiner = '<div id="spinner" class="spinner-border text-success" role="status" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;"><span class="visually-hidden">Saving Configuration...</span></div>';

        // $("#model-form_"+count).on('shown.bs.modal', function () {
            //     update_configuration(key, checkbox, count, form_rule);
            // });

            
        function update_configuration(key, element, count, form_rule){
            var update = false;
            var form_rule = JSON.parse(atob(form_rule));
            let count_configuration = 1;

            configuration.groups.forEach(function(group) {
                group.rules.forEach(function(rule) {
                    if (count_configuration === count){
                        if (key === 'status'){
                            if (element.checked === rule.labels._trix_status){
                                console.log("No Need to update, both values are equal "+key+" >> "+element.checked+" >> "+rule.labels._trix_status+" ");
                            } else {
                                if (element.checked === true){
                                    rule.labels._trix_status = true;
                                    document.getElementById("rule_status_text_"+count).innerHTML = "ON";
                                    document.getElementById("rule_status_label_"+count).innerHTML = "ON";
                                } else {
                                    rule.labels._trix_status = false;
                                    document.getElementById("rule_status_text_"+count).innerHTML = "OFF";
                                    document.getElementById("rule_status_label_"+count).innerHTML = "OFF";
                                }
                                update = true;
                            }
                        }
                        if (key === 'nhc'){
                            if (((element.checked === true) && (rule.labels.nhc === "yes")) || ((element.checked === false) && (rule.labels.nhc === "no"))){
                                console.log("No Need to update, both values are equal "+key+" >>  "+element.checked+" >> "+rule.labels.nhc+" ");
                            } else {
                                if (element.checked === true){
                                    rule.labels.nhc = "yes";
                                    document.getElementById("rule_nhc_text_"+count).innerHTML = "ON";
                                    document.getElementById("rule_nhc_label_"+count).innerHTML = "ON";
                                } else {
                                    rule.labels.nhc = "no";
                                    document.getElementById("rule_nhc_text_"+count).innerHTML = "OFF";
                                    document.getElementById("rule_nhc_label_"+count).innerHTML = "OFF";
                                }
                                update = true;
                            }
                        }
                        if (key === 'severity'){
                            document.getElementById("severity_" + count).className = document.getElementById("severity_" + count).className.replace(/\bbtn-\S+/g, '').trim();
                            document.getElementById("rule_severity_" + count).className = document.getElementById("severity_" + count).className.replace(/\bbtn-\S+/g, '').trim();

                            if (!element.value || element.value.trim() === "") {
                                document.getElementById("severity_"+count).classList.add("btn-primary");
                                document.getElementById("rule_severity_"+count).classList.add("btn-primary");
                                console.log("No Need to update, "+key+" >>  can't be empty, You have to select a level.");
                            } else {
                                rule.labels.severity = element.value;
                                document.getElementById("severity_"+count).classList.add("btn-"+element.value);
                                document.getElementById("rule_severity_"+count).classList.add("btn-"+element.value);
                                update = true;
                            }
                        }

                        if (key === 'delete'){
                            if (!confirm('Are you sure you want to delete this Rule?')) {
                                //return false;
                                update = false;
                            } else {
                                update = true;
                                group.rules.splice(count-1, 1); 
                                $(element).parent().parent().remove();
                            }
                        }
                    }
                    count_configuration++;
                });

            });
            console.log("configuration",configuration);
            if (update === true){
                const spinnerOverlay = document.getElementById("spinner-overlay");
                const body = document.body;
                body.classList.add("spinner-active");
                spinnerOverlay.style.display = "flex";


                save_configuration();
                setTimeout(function() {
                    
                    configuration = get_rules();

                    spinnerOverlay.style.display = "none"; 
                    body.classList.remove("spinner-active");

                    const modalElement = document.querySelector(".modal.show");
                    if (modalElement) {
                        const modalInstance = bootstrap.Modal.getInstance(modalElement);
                        if (modalInstance) { modalInstance.hide(); }
                    }

                }, 2000);

            }
            
        }
    

        function delete_rule(key, element, count, form_rule){
            var update = false;
            var form_rule = JSON.parse(atob(form_rule));
            let count_configuration = 1;

            configuration.groups.forEach(function(group) {
                group.rules.forEach(function(rule) {
                    if (count_configuration === count){
                        if (key === 'status'){
                            if (element.checked === rule.labels._trix_status){
                                console.log("No Need to update, both values are equal "+key+" >> "+element.checked+" >> "+rule.labels._trix_status+" ");
                            } else {
                                if (element.checked === true){
                                    rule.labels._trix_status = true;
                                    document.getElementById("rule_status_text_"+count).innerHTML = "ON";
                                    document.getElementById("rule_status_label_"+count).innerHTML = "ON";
                                } else {
                                    rule.labels._trix_status = false;
                                    document.getElementById("rule_status_text_"+count).innerHTML = "OFF";
                                    document.getElementById("rule_status_label_"+count).innerHTML = "OFF";
                                }
                                update = true;
                            }
                        }
                        if (key === 'nhc'){
                            if (((element.checked === true) && (rule.labels.nhc === "yes")) || ((element.checked === false) && (rule.labels.nhc === "no"))){
                                console.log("No Need to update, both values are equal "+key+" >>  "+element.checked+" >> "+rule.labels.nhc+" ");
                            } else {
                                if (element.checked === true){
                                    rule.labels.nhc = "yes";
                                    document.getElementById("rule_nhc_text_"+count).innerHTML = "ON";
                                    document.getElementById("rule_nhc_label_"+count).innerHTML = "ON";
                                } else {
                                    rule.labels.nhc = "no";
                                    document.getElementById("rule_nhc_text_"+count).innerHTML = "OFF";
                                    document.getElementById("rule_nhc_label_"+count).innerHTML = "OFF";
                                }
                                update = true;
                            }
                        }
                        if (key === 'severity'){
                            document.getElementById("severity_" + count).className = document.getElementById("severity_" + count).className.replace(/\bbtn-\S+/g, '').trim();
                            document.getElementById("rule_severity_" + count).className = document.getElementById("severity_" + count).className.replace(/\bbtn-\S+/g, '').trim();

                            if (!element.value || element.value.trim() === "") {
                                document.getElementById("severity_"+count).classList.add("btn-primary");
                                document.getElementById("rule_severity_"+count).classList.add("btn-primary");
                                console.log("No Need to update, "+key+" >>  can't be empty, You have to select a level.");
                            } else {
                                rule.labels.severity = element.value;
                                document.getElementById("severity_"+count).classList.add("btn-"+element.value);
                                document.getElementById("rule_severity_"+count).classList.add("btn-"+element.value);
                                update = true;
                            }
                        }
                    }
                    count_configuration++;
                });
            });
            console.log(configuration);
            if (update === true){
                const spinnerOverlay = document.getElementById("spinner-overlay");
                const body = document.body;
                body.classList.add("spinner-active");
                spinnerOverlay.style.display = "flex";


                save_configuration();
                setTimeout(function() {
                    
                    configuration = get_rules();

                    spinnerOverlay.style.display = "none"; 
                    body.classList.remove("spinner-active");

                    const modalElement = document.querySelector(".modal.show");
                    if (modalElement) {
                        const modalInstance = bootstrap.Modal.getInstance(modalElement);
                        if (modalInstance) { modalInstance.hide(); }
                    }

                }, 2000);

            }
            
        }


    function save_configuration(){
        const formattedJson = JSON.stringify(configuration, null, 2);
        $.ajax({
            url: '/save_config',
            type: 'POST',
            contentType: 'application/json',
            data: formattedJson,
            success: function(response) {
                console.log(response);

                $('body').append(successToast);
                successToast.addClass('show');
                setTimeout(function() {
                    successToast.removeClass('show');
                    successToast.addClass('fade');
                    successToast.remove();
                }, 10000);
                $('#edit_config').modal('hide');
            },
            error: function(xhr, status, error) {
                console.error("Error saving data:", xhr);
                console.error("Error saving data:", xhr.responseJSON.response);
                console.error("Error saving data:", status);
                console.error("Error saving data:", error);

                failedToast.find('.toast-body').text("Error: " + xhr.responseJSON.response);
                $('body').append(failedToast);
                failedToast.addClass('show');
                setTimeout(function() {
                    failedToast.removeClass('show');
                    failedToast.addClass('fade');
                    failedToast.remove();
                }, 10000);
            }
        });
    }
        

    $('#save_model_configuration').click(function() {
        //const editedData = editor.getValue();
        var formattedJson;
        try{
            var currentContent = editor.getValue();
            var jsonData = jsyaml.load(currentContent); 
            var formattedJson = JSON.stringify(jsonData, null, 2);
        } catch (e){
            formattedJson = editor.getValue();
        }


        const editedData = formattedJson;

        $.ajax({
            url: '/save_config',
            type: 'POST',
            contentType: 'application/json',
            data: editedData,
            success: function(response) {
                //console.log(response);

                $('body').append(successToast);
                successToast.addClass('show');
                setTimeout(function() {
                    successToast.removeClass('show');
                    successToast.addClass('fade');
                    successToast.remove();
                }, 10000);
                $('#edit_config').modal('hide');
            },
            error: function(xhr, status, error) {
                console.error("Error saving data:", xhr);
                console.error("Error saving data:", xhr.responseJSON.response);
                console.error("Error saving data:", status);
                console.error("Error saving data:", error);

                failedToast.find('.toast-body').text("Error: " + xhr.responseJSON.response);
                $('body').append(failedToast);
                failedToast.addClass('show');
                setTimeout(function() {
                    failedToast.removeClass('show');
                    failedToast.addClass('fade');
                    failedToast.remove();
                }, 10000);
            }
        });
    });



    $('#edit_configuration').click(function() {
        var count = 0;
        if (!editorInstances[count]) {
            editorInstances[count] = CodeMirror(document.getElementById('jsonEditor'), {
                theme: "material-darker",
                lineNumbers: true,
                autoCloseBrackets: true,
                matchBrackets: true,
                tabSize: 2,
                lineWrapping: true,
                viewportMargin: Infinity
            });
            editorInstances[count].setSize(null, 600);
        }
        let jsonData = jsyaml.load(configuration);
        editorInstances[count].setValue(JSON.stringify(configuration, null, 2));
        editorInstances[count].setOption("mode", { name: "javascript", json: true });
        editorInstances[count].refresh();
    });
    

    // When switching to JSON mode, format the content as JSON
    $('#jsonModeBtn').click(function() {
        var count = 0;
        try {
            let currentContent = editorInstances[count].getValue();
            let jsonData = jsyaml.load(currentContent);
            let formattedJson = JSON.stringify(jsonData, null, 2);
            editorInstances[count].setValue(formattedJson);
        } catch (e) {
            warningToast.find('.toast-body').text("Invalid YAML content:" + e);
            $('body').append(warningToast);
            warningToast.addClass('show');
            setTimeout(function() {
                warningToast.removeClass('show');
                warningToast.addClass('fade');
                warningToast.remove();
            }, 10000);
        }
        editorInstances[count].setOption("mode", { name: "javascript", json: true });
        editorInstances[count].refresh();
    });

    // When switching to YAML mode, convert the content to YAML
    $('#yamlModeBtn').click(function() {
        var count = 0;
        try {
            let currentContent = editorInstances[count].getValue();
            let jsonData = JSON.parse(currentContent);
            let yamlContent = jsyaml.dump(jsonData);
            editorInstances[count].setValue(yamlContent);
        } catch (e) {
            let currentContent = editorInstances[count].getValue();
            if (jsyaml.load(currentContent)){
                return;
            } else{
                warningToast.find('.toast-body').text("Invalid JSON content:" + e);
                $('body').append(warningToast);
                warningToast.addClass('show');
                setTimeout(function() {
                    warningToast.removeClass('show');
                    warningToast.addClass('fade');
                    warningToast.remove();
                }, 10000);
            }
        }
        editorInstances[count].setOption("mode", "yaml");
        editorInstances[count].refresh();
    });



    $('#edit_config').on('shown.bs.modal', function () {
        var count = 0;
        if (editorInstances[count]) { editorInstances[count].refresh(); }
    });

    $('#save_configuration').click(function() {
        var count = 0;
        var formattedJson;
        try{
            var currentContent = editorInstances[count].getValue();
            var jsonData = jsyaml.load(currentContent); 
            var formattedJson = JSON.stringify(jsonData, null, 2);
        } catch (e){
            formattedJson = editorInstances[count].getValue();
        }


        const editedData = formattedJson;

        $.ajax({
            url: '/save_config',
            type: 'POST',
            contentType: 'application/json',
            data: editedData,
            success: function(response) {
                //console.log(response);

                $('body').append(successToast);
                successToast.addClass('show');
                setTimeout(function() {
                    successToast.removeClass('show');
                    successToast.addClass('fade');
                    successToast.remove();
                }, 10000);
                $('#edit_config').modal('hide');
            },
            error: function(xhr, status, error) {
                console.error("Error saving data:", xhr);
                console.error("Error saving data:", xhr.responseJSON.response);
                console.error("Error saving data:", status);
                console.error("Error saving data:", error);

                failedToast.find('.toast-body').text("Error: " + xhr.responseJSON.response);
                $('body').append(failedToast);
                failedToast.addClass('show');
                setTimeout(function() {
                    failedToast.removeClass('show');
                    failedToast.addClass('fade');
                    failedToast.remove();
                }, 10000);
            }
        });
    });

  

</script>