
<nav class="navbar shadow-sm navbar-light">
    <ol class="breadcrumb bg-transparent d-flex align-items-center">
        <a href="/" aria-current="page" role="menuitem">
            <img src="{{ url_for( 'static', filename='/img/logo.png') }}" class="img-logo">
        </a>
        <li class="breadcrumb-item"><a class="align-middle" href="/">Home</a></li>
        <li class="breadcrumb-item"><a class="align-middle" href="{{ url_for('home') }}">{{ table }}</a></li>
        {% if record %}
            <li class="breadcrumb-item"><a class="align-middle" href="{{ url_for(request.endpoint, **request.view_args) }}">{{ request.endpoint | capitalize  }} {{ record }}</a></li>
        {% elif data and data.name  %}
            <li class="breadcrumb-item"><a class="align-middle" href="{{ url_for(request.endpoint, record=data.name ) }}">{{ request.endpoint | capitalize  }} {{ data.name }}</a></li>
        {% elif page  %}
            <li class="breadcrumb-item"><a class="align-middle" href="{{ url_for(request.endpoint) }}">{{ request.endpoint | capitalize  }}</a></li>
        {% endif %}
    </ol>
</nav>
<!-- <nav class="sub-navbar shadow-sm navbar-dark"> -->
    <div class="row sub-navbar">
        <div class="col col-2">Manage Node Health Checks</div>
        <div class="col col-1"><button type="button" class="btn btn-primary btn-sm">Add Alert Rule</button></div>
        <div class="col col-1"><button type="button" class="btn btn-warning btn-sm">Edit Configuration</button></div>
        <div class="col col-8"></div>
    </div>
    <!-- <ol class="breadcrumb bg-transparent d-flex align-items-center">
        <li class="breadcrumb-item">
            Manage Node Health Checks

        </li>
        <li class="breadcrumb-item">
            <button type="button" class="btn btn-primary btn-sm">Add Alert Rule</button>
        </li>
        <li class="breadcrumb-item">
            <button type="button" class="btn btn-warning btn-sm">Edit Configuration</button>
        </li>
        
    </ol> -->
<!-- </nav> -->
