<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js" integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function activate_inputmark(){
        var ipv4_address = $('.ipv4');
        ipv4_address.inputmask({
            alias: "ip",
            greedy: false
        });
        var mac_address = $('.mac');
        mac_address.inputmask({
            alias: "mac",
            greedy: false,
            casing: "lower"
        });
    }

    activate_inputmark();
</script>

<script>
    $(function() {
        var $form = $('#formAuthentication');
        var initialState = $form.serialize();

        $form.submit(function (e) {
          if (initialState === $form.serialize()) {
            $('#form-status').html();
            $('#form-status').addClass("alert alert-danger");
            $('#form-status').html('Nothing is changed!');
          } else {
            console.log('Form has changed!');
            if ($('#id_name').val() && $('#id_newname').val()){
                if ($('#id_name').val() == $('#id_newname').val()){
                    $('#form-status').html();
                    $('#form-status').addClass("alert alert-danger");
                    $('#form-status').html('Both Name can not be same, Kindly choose a different name.');
                } else { $form.submit(); }
            } else { $form.submit(); }
          }
          e.preventDefault();
        });
    });

</script>