<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js" integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function activate_inputmark(){
        var ipv4_address = $('.ipv4');
        ipv4_address.inputmask({
            alias: "ip",
            greedy: false
        });
        var mac_address = $('.mac');
        mac_address.inputmask({
            alias: "mac",
            greedy: false
        });
    }

    activate_inputmark();
</script>
